<section class="center-section">
    <nav class="project-header">
      <div class="padding">      	
      	<h1 class="proj-head"><span class="heading-icons"><img src="../../../../assets/images/project.png" alt="" /></span> projects</h1>
        <div class="clear"></div>       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xxxs">
        	<div class="col-xs-6 col-sm-7 col-md-7 col-lg-7 p-xxxs">
            	<ul class="project-navbar left pull-left">
                	<li class="active"><a href="javascript:void(0);">All</a></li>
                    <li><a href="javascript:void(0);">favorites</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 p-xxxs">
            	<div class="project-navbar-filter">
                	<a href="javascript:void(0);" data-toggle="modal" data-target=".bd-example-modal-lg" class="sort"><img src="../../../../assets/images/filter.png" alt="" /> Sort By: </a>
                    <select class="selectpicker">
                        <option>All Projects</option>
                        <option>All Projects</option>
                        <option>All Projects</option>
                        <option>All Projects</option>
                        <option>All Projects</option>
                    </select>	
                </div>
            </div>
        </div>
      </div>         
    </nav>
    <div class="project-top-gap">
      <div class="column-grid">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> 
          	<a href="javascript:void(0);" class="project-column">
            <figure><span class="banner"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmdedfNVzukx_FXQqwZdjeOVt1KwLPCPDJd73UHlKtJDTnPah0" alt="" /></span>
            	  <div class="project-figurelist">
                  	   <span></span>
                      <h1>1058 Beer Creek Beer Creek</h1>
                      <nav class="nav-image">
                          <ul>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><p>+08</p></li>
                          </ul>
                      </nav>
                      <nav class="nav-heart">
                      	 <img src="../../../../assets/images/heart.png" alt="" />
                      </nav>
                  </div>
            </figure>
            <div class="project-userlist">
              	<ul>
                	<li><p>03</p><label>Folders</label></li>
                    <li><p>12</p><label>Tasks</label></li>
                    <li><p>08</p><label>Files</label></li>
                    <li><p>15</p><label>Rfis</label></li>	                    
                </ul>
            </div>
            </a> 
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> 
          	<a href="javascript:void(0);" class="project-column">
            <figure><span class="banner"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT0bqfRLNP-Unua8vtWK7a3G6U011BobIdlZvtPXnkgGWEx0MEGfA" alt="" /></span>
            	  <div class="project-figurelist">
                  	   <span></span>
                      <h1>1058 Beer Creek Beer Creek</h1>
                      <nav class="nav-image">
                          <ul>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><p>+08</p></li>
                          </ul>
                      </nav>
                      <nav class="nav-heart">
                      	 <img src="../../../../assets/images/heart.png" alt="" />
                      </nav>
                  </div>
            </figure>
            <div class="project-userlist">
              	<ul>
                	<li><p>03</p><label>Folders</label></li>
                    <li><p>12</p><label>Tasks</label></li>
                    <li><p>08</p><label>Files</label></li>
                    <li><p>15</p><label>Rfis</label></li>	                    
                </ul>
            </div>
            </a> 
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> 
          	<a href="javascript:void(0);" class="project-column">
            <figure><span class="banner"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsG35Guofv1Qgp4WA2P6Aj1WlZ9qVhSPyMcnbqEAPEtrF9gMMm" alt="" /></span>
            	  <div class="project-figurelist">
                  	   <span></span>
                      <h1>1058 Beer Creek Beer Creek</h1>
                      <nav class="nav-image">
                          <ul>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><p>+08</p></li>
                          </ul>
                      </nav>
                      <nav class="nav-heart">
                      	 <img src="../../../../assets/images/heart.png" alt="" />
                      </nav>
                  </div>
            </figure>
            <div class="project-userlist">
              	<ul>
                	<li><p>03</p><label>Folders</label></li>
                    <li><p>12</p><label>Tasks</label></li>
                    <li><p>08</p><label>Files</label></li>
                    <li><p>15</p><label>Rfis</label></li>	                    
                </ul>
            </div>
            </a> 
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> 
          	<a href="javascript:void(0);" class="project-column">
            <figure><span class="banner"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmdedfNVzukx_FXQqwZdjeOVt1KwLPCPDJd73UHlKtJDTnPah0" alt="" /></span>
            	  <div class="project-figurelist">
                  	   <span></span>
                      <h1>1058 Beer Creek Beer Creek</h1>
                      <nav class="nav-image">
                          <ul>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><p>+08</p></li>
                          </ul>
                      </nav>
                      <nav class="nav-heart">
                      	 <img src="../../../../assets/images/heart.png" alt="" />
                      </nav>
                  </div>
            </figure>
            <div class="project-userlist">
              	<ul>
                	<li><p>03</p><label>Folders</label></li>
                    <li><p>12</p><label>Tasks</label></li>
                    <li><p>08</p><label>Files</label></li>
                    <li><p>15</p><label>Rfis</label></li>	                    
                </ul>
            </div>
            </a> 
          </div>
         <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> 
          	<a href="javascript:void(0);" class="project-column">
            <figure><span class="banner"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmdedfNVzukx_FXQqwZdjeOVt1KwLPCPDJd73UHlKtJDTnPah0" alt="" /></span>
            	  <div class="project-figurelist">
                  	   <span></span>
                      <h1>1058 Beer Creek Beer Creek</h1>
                      <nav class="nav-image">
                          <ul>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><p>+08</p></li>
                          </ul>
                      </nav>
                      <nav class="nav-heart">
                      	 <img src="../../../../assets/images/heart.png" alt="" />
                      </nav>
                  </div>
            </figure>
            <div class="project-userlist">
              	<ul>
                	<li><p>03</p><label>Folders</label></li>
                    <li><p>12</p><label>Tasks</label></li>
                    <li><p>08</p><label>Files</label></li>
                    <li><p>15</p><label>Rfis</label></li>	                    
                </ul>
            </div>
            </a> 
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> 
          	<a href="javascript:void(0);" class="project-column">
            <figure><span class="banner"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmdedfNVzukx_FXQqwZdjeOVt1KwLPCPDJd73UHlKtJDTnPah0" alt="" /></span>
            	  <div class="project-figurelist">
                  	   <span></span>
                      <h1>1058 Beer Creek Beer Creek</h1>
                      <nav class="nav-image">
                          <ul>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><img src="../../../../assets/images/user-img.png" alt="" /></li>
                            <li><p>+08</p></li>
                          </ul>
                      </nav>
                      <nav class="nav-heart">
                      	 <img src="../../../../assets/images/heart.png" alt="" />
                      </nav>
                  </div>
            </figure>
            <div class="project-userlist">
              	<ul>
                	<li><p>03</p><label>Folders</label></li>
                    <li><p>12</p><label>Tasks</label></li>
                    <li><p>08</p><label>Files</label></li>
                    <li><p>15</p><label>Rfis</label></li>	                    
                </ul>
            </div>
            </a> 
          </div>
        </div>       
      </div>
    </div>
  </section>