<section id="course-concern" class="course-concern">
    <div class="container">
        
        <div class="table-asignment">

            <ul class="nav-tabs" role="tablist">
                <li class="active"><a href="#mysubmissions" role="tab" data-toggle="tab">My submissions</a></li>
                <li><a href="#studentssubmissions" role="tab" data-toggle="tab">Students’ submissions</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- MY SUBMISSIONS -->
                <div class="tab-pane fade in active" id="mysubmissions">
                    <div class="table-wrap">
                        <!-- TABLE HEAD -->
                        <div class="table-head">
                            <div class="submissions"></div>
                            <div class="total-subm">Submissions</div>
                            <div class="replied">Replied</div>
                            <div class="latest-reply">Latest Reply</div>
                            <div class="tb-icon"></div>
                        </div>
                        <!-- END / TABLE HEAD -->

                        <!-- TABLE BODY -->
                        <div class="table-body">
                            <!-- TABLE ITEM -->
                            <div class="table-item">
                                <div class="thead">
                                    <div class="submissions"><a href="#">Learning for dummies</a></div>
                                    <div class="total-subm">0/4</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">11. Jul , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 2 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 3 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 4 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->

                            <!-- TABLE ITEM -->
                            <div class="table-item new">
                                <div class="thead">
                                    <div class="submissions"><a href="#">How to design a fish ( 2 new )</a></div>
                                    <div class="total-subm">2/4</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">14. May , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->
                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->

                            <!-- TABLE ITEM -->
                            <div class="table-item new">
                                <div class="thead">
                                    <div class="submissions"><a href="#">Become a pro in 12 days ( 2 new )</a></div>
                                    <div class="total-subm">2/2</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">14. May , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->
                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->

                            <!-- TABLE ITEM -->
                            <div class="table-item">
                                <div class="thead">
                                    <div class="submissions"><a href="#">IOS 8 101 - easiest giudeline</a></div>
                                    <div class="total-subm">2/2</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">14. May , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->
                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->
                            
                        </div>
                        <!-- END / TABLE BODY -->
                    </div>

                </div>
                <!-- END / MY SUBMISSIONS -->

                <!-- MY SUBMISSIONS -->
                <div class="tab-pane fade" id="studentssubmissions">
                    <div class="table-wrap">
                        <!-- TABLE HEAD -->
                        <div class="table-head">
                            <div class="submissions"></div>
                            <div class="total-subm">Submissions</div>
                            <div class="replied">Replied</div>
                            <div class="latest-reply">Latest Submissions</div>
                            <div class="tb-icon"></div>
                        </div>
                        <!-- END / TABLE HEAD -->

                        <!-- TABLE BODY -->
                        <div class="table-body">
                            <!-- TABLE ITEM -->
                            <div class="table-item">
                                <div class="thead">
                                    <div class="submissions"><a href="#">Learning for dummies</a></div>
                                    <div class="total-subm">12435</div>
                                    <div class="replied">1532</div>
                                    <div class="latest-reply">11. Jul , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment submission  - by Author</a></div>
                                        <div class="total-subm"></div>
                                        <div class="replied"></div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment submission -  by Author</a></div>
                                        <div class="total-subm"></div>
                                        <div class="replied"></div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment submission -  by Author</a></div>
                                        <div class="total-subm"></div>
                                        <div class="replied"></div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment submission -  by Author</a></div>
                                        <div class="total-subm"></div>
                                        <div class="replied"></div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->

                            <!-- TABLE ITEM -->
                            <div class="table-item new">
                                <div class="thead">
                                    <div class="submissions"><a href="#">How to design a fish ( 2 new )</a></div>
                                    <div class="total-subm">2/4</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">14. May , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->
                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->

                            <!-- TABLE ITEM -->
                            <div class="table-item new">
                                <div class="thead">
                                    <div class="submissions"><a href="#">Become a pro in 12 days ( 2 new )</a></div>
                                    <div class="total-subm">2/2</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">14. May , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->
                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->

                            <!-- TABLE ITEM -->
                            <div class="table-item">
                                <div class="thead">
                                    <div class="submissions"><a href="#">IOS 8 101 - easiest giudeline</a></div>
                                    <div class="total-subm">2/2</div>
                                    <div class="replied">0/2</div>
                                    <div class="latest-reply">14. May , 2014</div>
                                    <div class="toggle tb-icon">
                                        <a href="#"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>

                                <div class="tbody">
                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->

                                    <!-- ITEM -->
                                    <div class="item">
                                        <div class="submissions"><a href="#">Title of Assignment 1 in course</a></div>
                                        <div class="total-subm">Submited</div>
                                        <div class="replied">Replied</div>
                                        <div class="latest-reply">11. Jul , 2014</div>
                                        <div class="link tb-icon">
                                            <a href="#"><i class="fa fa-play-circle-o"></i></a>
                                        </div>
                                    </div>
                                    <!-- END / ITEM -->
                                </div>
                            </div>
                            <!-- END / TABLE ITEM -->
                            
                        </div>
                        <!-- END / TABLE BODY -->
                    </div>
                </div>
                <!-- END / MY SUBMISSIONS -->

            </div>

        </div>
    </div>
</section>