
 <div id="myloginModal">
    
    <div class="modal-dialog1">
        <div class="modal-content">
            <div class="login-wraper">
                <div class="image">
                    <img src="../../../assets/images/login-img1.png" alt="" />
                </div>
                <div id="login-id">
                    <div class="form-wraper">
                        
                            <h3>account login</h3>
                            <h2 class="head">Ready to explore ClearDrive? <br /> Please fill the form below.</h2>
                            <div class="input-form">                        
                                <div class="input">
                                    <input type="text"  class="" value="" placeholder="Enter Your Name" />
                                    <span></span>
                                </div>
                                <label>
                                    <img src="../../../assets/images/envelop.png" alt="" />
                                </label>
                                <span class="login-error-msg">getting wrong</span>
                            </div>
                            <div class="input-form">                       
                                <div class="input">
                                    <input type="password"  class="" value="" placeholder="Password" />
                                    <span></span>
                                </div>
                                <label>
                                    <img alt="" src="../../../assets/images/lock.png" class="lock" />
                              </label>
                                <span class="login-error-msg">getting wrong</span>
                            </div>
                            <button type="button" (click)="login();" class="btn-dash">Login</button>
                                                               
                    </div>
                    <div class="form-footer">
                      <ul>
                          <li><a href="javascript:void(0)" class="forgot">forgot password? </a></li>
                          <li><a href="javascript:void(0)" class="a-color"> create an account </a></li>
                      </ul>
                    </div>
                </div>
                <div id="forgot-id">
                    <div class="form-wraper">
                       
                            <h3>Forgot Password</h3>
                            <div class="input-form m-t-sm">                        
                                <div class="input">
                                    <input type="text"  class="" value="" placeholder="Enter Your Email">
                                    <span></span>
                                </div>
                                <label>
                                    <img src="../../../assets/images/envelop.png" alt="" />
                                </label>
                                <span class="login-error-msg">getting wrong</span>
                            </div>                            
                            <button type="submit" class="btn-dash">Submit</button>
                                                               
                    </div>
                    <div class="form-footer">
                      <ul>
                          <li><a href="javascript:void(0)" class="login">Login </a></li>
                          <li><a href="javascript:void(0)" class="a-color"> create an account </a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>