<div class="create-course-content">

    <!-- COURSE BANNER -->
    <div class="course-banner create-item">
        <div class="row">
            <div class="col-md-3">
                <h4>Course Banner</h4>
            </div>
            <div class="col-md-9">
                <div class="image-info">
                    <img src="assets/images/img-upload.jpg" alt="">
                </div>
                <div class="upload-recrop">
                    <div class="upload-image up-file">
                        <a href="#"><i class="icon md-upload"></i>Upload image</a>
                        <input type="file">
                    </div>
                    <div class="recrop">
                        <a href="#"><i class="icon md-crop"></i>Recrop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END / COURSE BANNER -->

    <!-- PROMO VIDEO -->
    <div class="promo-video create-item">
        <div class="row">
            <div class="col-md-3">
                <h4>Promo Video</h4>
            </div>
            <div class="col-md-9">
                <div class="form-item">
                    <input type="text" placeholder="Paste URL">
                </div>
                <div class="upload-video up-file">
                    or
                    <a href="#"><i class="icon md-upload"></i>Upload video</a>
                    <input type="file">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-action">
        <input type="submit" value="Save and Next" class="submit mc-btn-3 btn-style-1">
    </div>
    
</div>