<section id="login-content" style="display: none;" class="login-content">
    <!-- <div class="awe-parallax bg-login-content"></div>
    <div class="awe-overlay"></div> -->
    <div class="">
        <div class="row">

           
            <div class="col-sm-12">
                <div class="form-login">
                    <form>
                        <h2 class="text-uppercase">sign in</h2>
                        <div class="form-email">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="form-password">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="check">
                            <label for="check">
                            <i class="icon md-check-2"></i>
                            Remember me</label>
                            <a href="#">Forget password?</a>
                        </div>
                        <div class="form-submit-1">
                            <input type="submit" (click)="login()" value="Sign In" class="mc-btn btn-style-1">
                        </div>
                        <div class="link">
                            <a href="register.html">
                                <i class="icon md-arrow-right"></i>Don’t have account yet ? Join Us
                            </a>
                        </div>
                    </form>
                </div>
            </div>
           

            <!-- <div class="image">
                <img src="assets/images/homeslider/img-thumb.png" alt="test">
            </div> -->

        </div>
    </div>
</section>



<div class="login-form">
    <form  [formGroup]="frmLogin" novalidate (ngSubmit)="login()">
      <h1>Login</h1>
      {{frmLogin.controls.username['errorMessages'] | json}}
      <div class="form-group">
        <input type="text" autocomplete="Off" formControlName="username" name="mycase"  placeholder="E-mail Address">
       
        <small class="form-text text-danger" *ngFor="let errorMessage of frmLogin.controls.username['errorMessages']">
            {{errorMessage}}<br/>
          </small>
        
        <span class="input-icon"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="form-group">
     
        <input type="password" formControlName="password" name="asdasdasdfake" placeholder="Password">
        <span class="input-icon"><i class="fa fa-lock"></i></span>
      </div>      
      <button [disabled]="!frmLogin.valid" type="submit" class="login-btn">Login</button>      
      <a class="reset-psw" href="#">Forgot your password?</a>
      <div class="seperator"><b>or</b></div>
      <p>Sign in with your social media account</p>
      <!-- Social login buttons -->
      <div class="social-icon">
        <button  type="button"><i class="fa fa-twitter"></i></button>
        <button type="button"><i class="fa fa-facebook"></i></button>
      </div>
    </form>
  </div>