<section class="profile">
    <div class="container">
        
        <h3 class="md black">Profile</h3>
        <div class="row">
            <div class="col-md-9">
                <div class="avatar-acount">
                    <div class="changes-avatar">
                        <div class="img-acount">
                            <img src="assets/images/team-13.jpg" alt="">
                        </div>
                    </div>   
                    <div class="info-acount">
                        <h3 class="md black">Anna Molly</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        <div class="profile-email-address">
                            <div class="profile-email">
                                <h5>Email</h5>
                                <p><a href="https://envato.megadrupal.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="43222d2d222e2c2f2f3a03262e222a2f6d202c2e">[email&nbsp;protected]</a></p>
                            </div>
                            <div class="profile-address">
                                <h5>Password</h5>
                                <p>Hanoi , Vietnam</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-md-3">
                <div class="social-connect">
                    <h5>Social connect</h5>
                    <ul>
                        <li>
                            <a href="#" class="twitter">
                                <i class="icon md-twitter"></i>
                                <p>https://www.facebook.com/</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facebook">
                                <i class="icon md-facebook-1"></i>
                                <p>https://www.facebook.com/</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="gg-plus">
                                <i class="icon md-google-plus"></i>
                                <p>https://www.facebook.com/</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="printerest">
                                <i class="icon md-pinterest-1"></i>
                                <p>https://www.facebook.com/</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>