<section class="center-section row">  
    <nav class="module-header">
      <div class="inner">       
        <div class="head"><span class="icon"><img src="../../../../assets/images/back-arrow.png" alt="" /></span> 
            <h1>1058 Beer creek parkway </h1>
            <p class="ref-no">Ref No: Orion000036</p>
          </div>          
          <div class="row">      
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xxxs">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 p-xxxs">
              <ul class="navmenu pull-left project-detail">
                <li><a href="javascript:void(0);">Overview</a></li>
                <li class="active"><a href="javascript:void(0);">Projects</a></li>
                <li><a href="javascript:void(0);">Members</a></li>
                <li><a href="javascript:void(0);">Weekly</a></li>
              </ul>
            </div> 
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
              <div class="project-navbar-filter">
                  <div class="profile-form">
                    <a href="javascript:void(0);" class="sort" style="top:8px;left:20px;"><img src="../../../../assets/images/filter.png" alt="" /> View: </a>
                    <input type="text" class="form-control fc-2" value="Favorite"> 
                  </div>
                </div>
            </div>               
           </div>
          </div>
        </div>         
    </nav>
    <div class="clear"></div>
    <div class="module-wrapper_2">
      <div class="clearfix pull-right m-b-xs" style="margin-right:18px;"> 
        <button type="button" class="btn-dash btn-icon"><img src="../../../../assets/images/btn-plus.png" alt="">Add New RFI</button>
      </div>
      <div class="clear"></div>
      <div class="module-content-inside">

        <!-- <div id="module-carousel" class="owl-carousel owl-theme"> -->
          <!-- item -->

          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="item">
                    <!-- Project Tab Content  -->
                    <div class="module-content-wrapper moduletask">
                      <!-- module-content-header -->
                      <div class="module-content-header bg-header_1">
                        <a href="javascript:void(0);" class="bullet"><span></span></a>
                        <ul class="dropdwn-task">     
                            <li><a href="javascript:void(0);">Attach Files</a></li>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                            <li><a href="javascript:void(0);">Send to Email</a></li>
                            <li><a href="javascript:void(0);">Print PDF</a></li>
                            <li><a href="javascript:void(0);">Share Task</a></li>
                            <li><a href="javascript:void(0);">View / Edit Details</a></li>
                            <li><a href="javascript:void(0);">Delete</a></li>
                        </ul>
                        <ul class="dropdwn-task">     
                            <li><a href="javascript:void(0);">Attach Files</a></li>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                            <li><a href="javascript:void(0);">Send to Email</a></li>
                            <li><a href="javascript:void(0);">Print PDF</a></li>
                            <li><a href="javascript:void(0);">Share Task</a></li>
                            <li><a href="javascript:void(0);">View / Edit Details</a></li>
                            <li><a href="javascript:void(0);">Delete</a></li>
                        </ul>
        
                        <img src="../../../../assets/images/notes-pin.png">
                      </div>
                      <!-- module-content-header -->
                      <!-- module-content-body -->
                      <div class="module-content-body bg-gradient_1">
                        <ul>
                          <li>
                            <div class="md-status-info">
                              <div class="md-info-img">
                                <img src="../../../../assets/images/notes-img.png">
                              </div>
                              <h5>Appinventiv Pramod</h5>
                            </div>
                            <div class="clear"></div>
                            <div class="status status-bar-with-active">
                              <span class="bar-line">
                                <label class="pull-right">60%</label>
                                <div class="progress active m-xxxs">
                                  <div class="bar" style="width: 50%;"></div>                                                   
                                </div>
                              </span>
                              <span class="bar-status"> 
                                <p>| Status : Active</p>
                              </span>
                            </div>
                          </li>
                          <li><p>Project Name: <span>Test Project 100</span></p></li>
                          <li><p>ODB Project Number: <span>1006</span></p></li>
                          <li><p>Ref #: <span>Lorem Ipsum</span></p></li>
                          <li><p>Reason for Request: <span>Insufficient</span></p></li>
                          <li><p>To: <span>Appinventiv Pramod</span></p></li>
                          <li><p>Status: <span>On Going</span></p></li>
                          <li><p>Due Date : <span>2017-06-15</span></p></li>
                          <li>
                            <p>Watching Users:</p>
                            <div class="p-t-xs module-watching-user">
                              <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                              <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                              <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                              <a href="javascript:void(0);" class="count-users"><span class="n centered">+02</span></a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- module-content-body -->
                    </div>
                    <!-- //Project Tab Content  -->
                  </div>
            </ng-template>
            <ng-template carouselSlide>
          <div class="item">
            <!-- Project Tab Content  -->
            <div class="module-content-wrapper moduletask">
              <!-- module-content-header -->
              <div class="module-content-header bg-header_1">
                <a href="javascript:void(0);" class="bullet"><span></span></a>
                <ul class="dropdwn-task">     
                    <li><a href="javascript:void(0);">Attach Files</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                    <li><a href="javascript:void(0);">Send to Email</a></li>
                    <li><a href="javascript:void(0);">Print PDF</a></li>
                    <li><a href="javascript:void(0);">Share Task</a></li>
                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                    <li><a href="javascript:void(0);">Delete</a></li>
                </ul>
                <ul class="dropdwn-task">     
                    <li><a href="javascript:void(0);">Attach Files</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                    <li><a href="javascript:void(0);">Send to Email</a></li>
                    <li><a href="javascript:void(0);">Print PDF</a></li>
                    <li><a href="javascript:void(0);">Share Task</a></li>
                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                    <li><a href="javascript:void(0);">Delete</a></li>
                </ul>

                <img src="../../../../assets/images/notes-pin.png">
              </div>
              <!-- module-content-header -->
              <!-- module-content-body -->
              <div class="module-content-body bg-gradient_1">
                <ul>
                  <li>
                    <div class="md-status-info">
                      <div class="md-info-img">
                        <img src="../../../../assets/images/notes-img.png">
                      </div>
                      <h5>Appinventiv Pramod</h5>
                    </div>
                    <div class="clear"></div>
                    <div class="status status-bar-with-active">
                      <span class="bar-line">
                        <label class="pull-right">60%</label>
                        <div class="progress active m-xxxs">
                          <div class="bar" style="width: 50%;"></div>                                                   
                        </div>
                      </span>
                      <span class="bar-status"> 
                        <p>| Status : Active</p>
                      </span>
                    </div>
                  </li>
                  <li><p>Project Name: <span>Test Project 100</span></p></li>
                  <li><p>ODB Project Number: <span>1006</span></p></li>
                  <li><p>Ref #: <span>Lorem Ipsum</span></p></li>
                  <li><p>Reason for Request: <span>Insufficient</span></p></li>
                  <li><p>To: <span>Appinventiv Pramod</span></p></li>
                  <li><p>Status: <span>On Going</span></p></li>
                  <li><p>Due Date : <span>2017-06-15</span></p></li>
                  <li>
                    <p>Watching Users:</p>
                    <div class="p-t-xs module-watching-user">
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);" class="count-users"><span class="n centered">+02</span></a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- module-content-body -->
            </div>
            <!-- //Project Tab Content  -->
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <!-- Project Tab Content  -->
            <div class="module-content-wrapper moduletask">
              <!-- module-content-header -->
              <div class="module-content-header bg-header_2">
                <a href="javascript:void(0);" class="bullet"><span></span></a>
                <ul class="dropdwn-task">     
                    <li><a href="javascript:void(0);">Attach Files</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                    <li><a href="javascript:void(0);">Send to Email</a></li>
                    <li><a href="javascript:void(0);">Print PDF</a></li>
                    <li><a href="javascript:void(0);">Share Task</a></li>
                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                    <li><a href="javascript:void(0);">Delete</a></li>
                </ul>
                <img src="../../../../assets/images/notes-pin.png">
              </div>
              <!-- module-content-header -->
              <!-- module-content-body -->
              <div class="module-content-body bg-gradient_2">
                <ul>
                  <li>
                    <div class="md-status-info">
                      <div class="md-info-img">
                        <img src="../../../../assets/images/notes-img.png">
                      </div>
                      <h5>Appinventiv Pramod</h5>
                    </div>
                    <div class="clear"></div>
                    <div class="status status-bar-with-active">
                      <span class="bar-line">
                        <label class="pull-right">60%</label>
                        <div class="progress active m-xxxs">
                          <div class="bar" style="width: 50%;"></div>                                                   
                        </div>
                      </span>
                      <span class="bar-status"> 
                        <p>| Status : Active</p>
                      </span>
                    </div>
                  </li>
                  <li><p>Project Name: <span>Test Project 100</span></p></li>
                  <li><p>ODB Project Number: <span>1006</span></p></li>
                  <li><p>Ref #: <span>Lorem Ipsum</span></p></li>
                  <li><p>Reason for Request: <span>Insufficient</span></p></li>
                  <li><p>To: <span>Appinventiv Pramod</span></p></li>
                  <li><p>Status: <span>On Going</span></p></li>
                  <li><p>Due Date : <span>2017-06-15</span></p></li>
                  <li>
                    <p>Watching Users:</p>
                    <div class="p-t-xs module-watching-user">
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);" class="count-users"><span class="n centered">+02</span></a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- module-content-body -->
            </div>
            <!-- //Project Tab Content  -->
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <!-- Project Tab Content  -->
            <div class="module-content-wrapper moduletask">
              <!-- module-content-header -->
              <div class="module-content-header bg-header_3">
                <a href="javascript:void(0);" class="bullet"><span></span></a>
                <ul class="dropdwn-task">     
                    <li><a href="javascript:void(0);">Attach Files</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                    <li><a href="javascript:void(0);">Send to Email</a></li>
                    <li><a href="javascript:void(0);">Print PDF</a></li>
                    <li><a href="javascript:void(0);">Share Task</a></li>
                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                    <li><a href="javascript:void(0);">Delete</a></li>
                </ul>
                <img src="../../../../assets/images/notes-pin.png">
              </div>
              <!-- module-content-header -->
              <!-- module-content-body -->
              <div class="module-content-body bg-gradient_3">
                <ul>
                  <li>
                    <div class="md-status-info">
                      <div class="md-info-img">
                        <img src="../../../../assets/images/notes-img.png">
                      </div>
                      <h5>Appinventiv Pramod</h5>
                    </div>
                    <div class="clear"></div>
                    <div class="status status-bar-with-active">
                      <span class="bar-line">
                        <label class="pull-right">60%</label>
                        <div class="progress active m-xxxs">
                          <div class="bar" style="width: 50%;"></div>                                                   
                        </div>
                      </span>
                      <span class="bar-status"> 
                        <p>| Status : Active</p>
                      </span>
                    </div>
                  </li>
                  <li><p>Project Name: <span>Test Project 100</span></p></li>
                  <li><p>ODB Project Number: <span>1006</span></p></li>
                  <li><p>Ref #: <span>Lorem Ipsum</span></p></li>
                  <li><p>Reason for Request: <span>Insufficient</span></p></li>
                  <li><p>To: <span>Appinventiv Pramod</span></p></li>
                  <li><p>Status: <span>On Going</span></p></li>
                  <li><p>Due Date : <span>2017-06-15</span></p></li>
                  <li>
                    <p>Watching Users:</p>
                    <div class="p-t-xs module-watching-user">
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);"><img src="../../../../assets/images/user-img.png" class="centered-image" alt=""></a>
                      <a href="javascript:void(0);" class="count-users"><span class="n centered">+02</span></a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- module-content-body -->
            </div>
            <!-- //Project Tab Content  -->
          </div>
        </ng-template>
        </owl-carousel-o>
        <!-- </div> -->
        <!-- <div class="owl-navigation">
          <a href="javascript:void[0]" class="owl-prev"><img src="../../../../assets/images/left-circle-arrow.png"></a>
          <a href="javascript:void[0]" class="owl-next"><img src="../../../../assets/images/right-circle-arrow.png"></a>
        </div> -->

      </div>
    </div>

  </section>