.rate-summary-div{
    padding: 20px;
}

.learn-section {
    background-color: #d4d4d4;
    padding-top: 26px;
    padding-bottom: 100px;
}
.question-content-wrap .question-content {
    padding: 60px 30px 60px 60px;
    min-height: 0px;
}
.rate-summary .title-sb{
    color: #37abf2;
    overflow: hidden;
    margin-right: 10px;
    line-height: 2.2em;
}
.list .mc-item {
    padding: 20px;
    min-height: 0;
}
h4.title-sb.sm.bold {
    background: #11538c;
    padding: 0px 0px 0px 8px;
    color: white;
}