<section class="sub-banner sub-banner-create-course">
    <div class="awe-color bg-color-1"></div>
    <div class="container">
        <h2 class="md ilbl">Booking Confirmation</h2>
       
    </div>
</section>
<!-- END / BANNER CREATE COURSE -->

<!-- CREATE COURSE CONTENT -->
<section id="create-course-section" class="create-course-section" style="display: none;">
    <div class="container">
        <div class="row">
           

            <div class="col-md-12">
                <div class="create-course-content">

                    <!-- PUBLISH COURSE -->
                    <div class="publish-course">
                        <h3 class="md black">Course summary</h3>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="mc-item mc-item-1">
                                    <div class="image-heading">
                                        <img src="assets/images/feature/img-1.jpg" alt="">
                                    </div>
                                    <div class="meta-categories"><a href="#">Web design</a></div>
                                    <div class="content-item">
                                        <div class="image-author">
                                            <img src="assets/images/avatar-1.jpg" alt="">
                                        </div>
                                        <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                        <div class="name-author">
                                            By <a href="#">Name of Mr or Mrs</a>
                                        </div>
                                    </div>
                                    <div class="ft-item">
                                        <div class="rating">
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#" class="active"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                        <div class="view-info">
                                            <i class="icon md-users"></i>
                                            2568
                                        </div>
                                        <div class="comment-info">
                                            <i class="icon md-comment"></i>
                                            25
                                        </div>
                                        <div class="price">
                                            $190
                                            <span class="price-old">$145</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-7" >
                                
                                <h2 class="big black">Title of the course goes here</h2>

                                <div class="new-course">
                                    <div class="item course-code">
                                        <i class="icon md-barcode"></i>
                                        <h4><a href="#">Course Code</a></h4>
                                        <p class="detail-course"># A 15273</p>
                                    </div>
                                    <div class="item course-code">
                                        <i class="icon md-time"></i>
                                        <h4><a href="#">Duration</a></h4>
                                        <p class="detail-course">3 weeks</p>
                                    </div>
                                    <div class="item course-code">
                                        <i class="icon md-img-check"></i>
                                        <h4><a href="#">Open Date</a></h4>
                                        <p class="detail-course">25 May 2014</p>
                                    </div>
                                </div>

                                <hr class="line">
                                <div class="rate-summary-div">
                                <div class="row">
                                    <div class="col-sm-4"><p>Course Rate</p></div>
                                    <div class="col-sm-8"><b><i class="fa fa-inr"></i> 400 /- </b></div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><p>Your Rate</p></div>
                                    <div class="col-sm-8"><b><i class="fa fa-inr"></i> 350 /- </b></div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><p>Accepted Rate</p></div>
                                    <div class="col-sm-8"><b><i class="fa fa-inr"></i> 370 /- </b></div>
                                   
                                </div>
                                <hr class="line">
                                <div class="row">
                                    <div class="col-sm-4"><p>Total Paid Amount</p></div>
                                    <div class="col-sm-8"><b><i class="fa fa-inr"></i> 370 /- </b></div>
                                   
                                </div>
                            </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- END / PUBLISH COURSE -->

                    <div class="form-action confirm-save">
                        <input type="submit" value="Confirm And Send Request" class="submit mc-btn-3 btn-style-1">
                        <input type="submit" value="Save Draft" class="submit mc-btn-3 btn-style-6">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>






<section id="quizz-intro-section" class="quizz-intro-section learn-section" style="min-height: 380px;">
    <div class="container">
        <div class="question-content-wrap">
           <div class=" content list fade-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mc-item mc-item-2">
                        <div class="image-heading">
                            <img src="assets/images/feature/img-1.jpg" alt="">
                        </div>
                        <div class="meta-categories"><a href="#">Web design</a></div>
                        <div class="content-item">
                            <div class="image-author">
                                <img src="assets/images/avatar-1.jpg" alt="">
                            </div>
                            <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                            <div class="name-author">
                                By <a href="#">Name of Mr or Mrs</a>
                            </div>
                        </div>
                        <div class="ft-item">
                            <div class="rating">
                                <a href="#" class="active"></a>
                                <a href="#" class="active"></a>
                                <a href="#" class="active"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                            <div class="view-info">
                                <i class="icon md-users"></i>
                                2568
                            </div>
                            <div class="comment-info">
                                <i class="icon md-comment"></i>
                                25
                            </div>
                            <div class="price">
                                $190
                                <span class="price-old">$145</span>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div style="padding: 19px 0px 0px 21px;">
                    <!--left column -->
                    <div class="row">
                        <div class="col-md-2 col-xs-5"><strong>Booking Date </strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5 ">Sep 29 2019  3:28PM</div>
                        <div class="col-md-2 col-xs-5"><strong>Booking ID </strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5 ">108</div>

                    </div>
                    <hr class="line">

                    <div class="row">
                        <div class="col-md-2 col-xs-5 "><strong>Type  </strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5 ">Live Conferencing</div>

                        <div class="col-md-2 col-xs-5"><strong>Status </strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5 ">Scheduled</div>
                    </div>
                    <hr class="line">



                    <div class="row">
                        <div class="col-md-2 col-xs-5"><strong>Scheduled Time  </strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5 ">Sun, 29 Sep'19 ,12:30 pm</div>
                        <div class="col-md-2 col-xs-5"><strong>Duration</strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5 ">2 Hours</div>
                    </div>
                    <hr class="line">
                    <div class="row">

                        <div class="col-md-2 col-xs-5"><strong>Contact No.</strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5">+91-9755552222</div>

                        <div class="col-md-2 col-xs-5"><strong>E-mail ID  </strong></div>
                        <div class="col-xs-1" style="width:1% !important;">:</div>
                        <div class="col-md-3 col-xs-5">info@yopamail.com</div>
                    </div>
                    <hr class="line">
                        <div class="row">
                            <div class="col-md-2 col-xs-5"><strong>Fees </strong></div>
                            <div class="col-xs-1" style="width:1% !important;">:</div>
                            <div class="col-md-3 col-xs-5">Free</div>
                            <div class="col-md-2 col-xs-5">
                                <strong>Payment mode</strong>
                            </div>
                            <div class="col-xs-1" style="width:1% !important;">:</div>
                            <div class="col-md-3 col-xs-5">Netbanking</div>

                            
                        </div>


                    </div>
                </div>

                <div class="col-md-4">
                    <aside class="rate-summary" style="">
                       
                        <div class="score-sb">
                            <h4 class="title-sb sm bold">Rate Summary</h4>
                            <div class="list-wrap ps-container ps-active-x" style="max-height: none;">
                            <ul>
                                <li>Original Rate<span><i class="fa fa-inr"></i> 500/-</span></li>
                                <li>Your Rate<span><i class="fa fa-inr"></i> 400/-</span></li>
                                <li>Accepted Rate<span><i class="fa fa-inr"></i> 380/-</span></li>
                                <li style="font-weight: bold;
                                border-bottom: none;
                                color: #11538c;
                                font-size: 16px;">Total Rate<span><i class="fa fa-inr"></i> 380/-</span></li>
                            </ul>
                            <hr class="line">
                           
                    </div>
                        </div>
                    </aside>
                </div>
             </div>
             <hr class="lin">
             <div class="row">
                <div class="col-md-12">
                    <div class="question-content">
                        <h4 class="sm bold">Policy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <div class="form-action" style="text-align: center;">
                            <input type="submit" value="Confirm" class=" submit mc-btn-3 btn-style-1">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>