
.border-line{
    background: #ddd;
    width: 100%;
    height: 1px;
}
.height{
    height: 100%;
    transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -ms-transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    -webkit-transition: all ease-in-out .7s;
}
.color-blue{
    color: #3192e9 !important;
}
.mobile-menu-innerheader{
    display: none;
}
.cleardrive-banner {
    background: url(../images/header-bg.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.cld-logo {
    float: left;
    padding: 5px 10px 5px 0;
}
.cleardrive-banner img {
    width: 80px;
}
.right-sec-header {
    float: right;
    position: relative;
}
.menu-navbar ul {
    padding: 0;
    margin: 0;
}
.menu-navbar li {
    display: inline-block;
    position: relative;
    padding: 32px 0;
}
.menu-navbar li a {
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
    display: block;
    position: relative;
}
.menu-navbar li a:before, 
.print-list li:before,
.footer-privacy li a:before {
    content: '|';
    position: absolute;
    top: 0;
    left: -4px;
}
.menu-navbar li:first-child a:before, 
.print-list li:first-child:before,
.footer-privacy li:first-child a:before{
	display: none;
}
.menu-navbar li:hover {
    background: #1c6ed7;
}
.right-sec-header li {
    display: inline-block;
    padding: 26px 0;
}
.right-sec-header li a{
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
    display: block;
    position: relative;
    font-family: 'ProximaNova-Semibold';
}
.right-sec-header li a.login {
    border: solid 2px #fff;
    border-radius: 4px;
    padding: 4px 20px;
    font-family: 'ProximaNovaA-Regular';
}
.right-sec-header li a.login:hover {
    background: #0762b3;
}
.wraper-inner h1 {
    font-family: 'ProximaNova-Semibold';
    font-size: 28px;
    padding: 50px 0 10px 0;
    margin: 0;
    color: #000;
}
.print-list li {
    display: inline-block;
    font-size: 16px;
    font-family: 'ProximaNova-Semibold';
    position: relative;
    padding: 0 15px 0 0;
        color: #000;
}
.print-list li a {
    padding: 0 0 0 15px;
    color: #000;
}
.print-list li a:before {
    background: #000;
    content: '';
}
.parag{
    font-family: 'ProximaNova-Semibold';
    font-size: 16px;
    padding: 20px 0;
    color: #000;
}
.wraper-inner a {
    color: #3192e9;
}
.tabs-listing li{
    display: block;
}
.tabs-listing li a {
    font-size: 15px;
    color: #000;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    min-width: 220px;
}
.tabs-listing li.active a{
    background: #ddd;
    font-family: 'ProximaNova-Semibold';
}
.tabs-listing li:hover a{
   font-family: 'ProximaNova-Semibold';
}
.content-privacy h2{
   font-family: 'ProximaNova-Semibold';
   font-size: 20px;
   margin: 0;
   padding: 0 0 15px 0;
}
.content-privacy p{
    font-size: 16px;
    color: #000;
    padding: 0 0 15px 0;
    margin: 0;
}
.content-privacy {
    border-left: solid 1px #ddd;
    padding: 0 30px;
    margin-bottom: 40px;
}
.footer-privacy {
    font-size: 17px;
    color: #4f4f4f;
    border-top: solid 1px #4f4f4f;
    margin: 20px 0 0 0;
    padding: 30px 15px 25px;
    background: #fff;
    z-index: 9;
    position: absolute;
    bottom: 0;
    width: 100%;    
}
.footer-privacy .left{
    float: left;
}
.footer-privacy .right {
    float: left;
    margin-left: 60px;
}
.footer-privacy li{
    display: inline-block;
    position: relative;
}
.footer-privacy li a {
    color: #4f4f4f;
    padding: 0 15px;
    text-decoration: underline;
}
.footer-privacy p {
    display: block;
    clear: both;
    padding: 5px 0 0 0;
    margin: 0;
}
.wraper-inner {
    background: #fff;
    position: relative;
    min-height: 100%;
    padding: 90px 0 105px;
}
.fixed-wrap {
    position: fixed;
    top: 100px;
}
/*--------------- sign up 1 ----------------*/
.signup-sec p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000;
}  
.radio-check{
    display: inline-block;
}
.radio-check label{
    font-size: 16px;
    font-weight: normal !important;
    padding: 0 30px 0 0;
} 
.plan-column {
    background: #fff;
    margin: 0 15px;
    box-shadow: 0 0 8px 0px rgba(128, 128, 128, 0.35);
}
.plan-column .in{
    padding: 20px 25px;
}
.plan-column h2 {
    color: #323232;
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 25px;
    margin: 0;
    background: #bcc9dd;
}
.plan-column h3 {
    padding: 0 0 5px 0;
    margin: 0;
    color: #3192e9;
    font-size: 35px;
    font-family: 'ProximaNova-Semibold';
}
.plan-column ul{
    padding: 0 0 15px 0;
}
.plan-column li {
    color: #767676;
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding: 0 0;
}
.plan-column li:before {
    position: relative;
    content: '/';
    top: 0;
    left: 0;
    padding: 0 8px;
}
.plan-column li:first-child:before{
    padding-left: 0;
} 
.plan-column p {
    color: #767676;
    font-size: 16px;
    margin: 0;
}
.plan-column a.btn {
    font-size: 16px;
    color: #3192e9;
    border: solid 2px #3192e9;
    display: block;
    padding: 5px 20px;
    margin: 20px auto 10px;
    text-align: center;
    text-transform: capitalize;
}
.plan-column a.btn:hover{
    background: #3192e9;
    color: #fff;   
}
.owl-item.active.center .plan-column p{
    color: #000;
}
.owl-item.active.center .plan-column h2{
    color: #ffffff;
    background: #3192e9;
}
.signup-slider .owl-stage-outer {
    padding: 40px 0;
}
.signup-slider .owl-carousel{
    padding: 0 30px;
}
.signup-slider .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ddd;
}
.signup-slider .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ddd;
}
.signup-accordian h2 {
    font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    padding: 30px 0 0 0;
    margin: 0;
    color: #000;
    text-align: center;
}
.signup-accordian p {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 25px 0;
}
.signup-accordian {
    padding: 40px 0;
}
.signup-accordian .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: transparent;
}
.signup-accordian .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: transparent;
    background-image: none;
    border-color: transparent !important;
}
.signup-accordian .panel-title a{
    display: inline-block;
    padding: 0;
    text-decoration: none;
    font-family: 'ProximaNova-Semibold';
    font-size: 17px;
    color: #000;
    padding: 8px 0;
    line-height: 1.3;
}
.signup-accordian .more-less {
    float: left;
    color: #fff;
    background: #3192e9;
    border-radius: 50%;
    padding: 6px 6px 6px 7px;
    font-size: 14px;
    position: relative;
    top: -5px;
    margin: 0 10px;
}
.signup-accordian .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    color: #000;
    font-size: 15px;
    padding: 0px 0 15px 50px;
}
.signup-accordian .container {
    max-width: 800px;
}
.signup-accordian .panel-group {
    margin: 40px;
}
/* account setting */
.account-wraper{
    background: #ebebeb none repeat scroll 0 0;
    margin: 0 auto;
    min-height: 100%;
    padding: 80px 0 0 170px;
    position: relative;
    z-index: 1;
    overflow: visible;
}
.sideNav-left {
    position: fixed;
    top: 139px;
    left: 170px;
    z-index: 11;
    width: 230px;
    bottom: 0;
    padding: 0;
    background: #f7f7f7;
}
.account-heading {
    padding: 20px 15px 20px 44px;
}
.account-footer {
    padding-left: 170px;
    padding-bottom: 10px;
}
.account-nav ul {
    width: 100%;
        padding: 29px 0 25px 50px;
}
.account-nav ul li a {
    font-size: 16px;
    color: #8c8c8c;
    padding: 10px 0 10px 10px;
    display: block;
    background-color: transparent;
    margin: 0 -20px 10px 0;
    border-left: solid 4px transparent;
    border-radius: 4px 0 0 4px;
}
.account-nav ul li.active a{
    background: #fff;
    box-shadow: -4px 0px 6px -1px #d0cece;
    border-left: solid 4px #009ddc;
    font-family: 'ProximaNova-Semibold';
    color: #000;
}
.account-nav ul li a:hover {    
    font-family: 'ProximaNova-Semibold'; 
    color: #000;   
}
.account-form {
    padding: 58px 0 0 230px;
    background-color: #ebebeb;    
}
.account-form-inner.shadow{
   box-shadow: 0px 0px 6px -1px #d0cece;
}
.account-form-inner {
    background: #fff;
    margin: 30px 20px;
    border-radius: 6px;
    padding: 20px 30px;
    position: relative;
}
.payment-category-list h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'ProximaNova-Semibold';
    margin: 0;
    padding: 0 0 20px 0;
}
.payment-category-divide-1,
.payment-category-divide-2 {
    display: inline-block;
}
.payment-category-divide-2:hover,
.payment-category-divide-2:active{
    color: #fff;
}
.payment-category-divide-1 {
    width: 160px;
    padding: 0 20px 0 0;
    bottom: 62px;
    position: absolute;
    z-index: 9;
    background: #fff;
    left: 0;
}
.payment-category-divide-2 {
    width: 200px;
    border: 1px solid #3192e9;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: -5px;
    background: #fff;
}
.catgory-price-detail {
    background:#ffffff;
    padding: 12px 0;
}
.catgory-price-detail h5 {
    font-size: 20px;
    text-align: center;
    position: relative;
    margin:0;
    color: #000;
}
.catgory-price-detail h5:before {
    position: absolute;
    content: '';
    width: 38px;
    height:3px;
    margin:0 auto;
    left:0;
    right:0;
    bottom: -15px;
    text-align: center;
    background:#000;
}
.catgory-price-detail p.c-price {
    text-align: center;
    font-size: 32px;
    margin:30px 0 0 0;
    color: #3192e9;
}
.payment-catNav li a {
    color: #000;
    font-family: 'ProximaNova-Semibold';
    font-size: 16px;
    text-align: right;
    display: block;
    padding: 11px 0;
}
.catgory-price-list li img {
    position: absolute;
    top: 5px;
    left: 0;
}
.catgory-price-list {
    padding: 10px 20px 0;
}
.catgory-price-list li {
    font-size: 16px;
    color: #000;
    position: relative;
    padding: 0 0 0 30px;
    margin: 6px 0 0 0;
}
.catgory-price-check li {
    text-align: center;
    padding: 12px 0;
    border-bottom: solid 1px #f7f7f7;
}
.catgory-price-check li:last-child {
    border-bottom: none;
}
.payment-category-divide-2 .btn-dash {
    padding: 8px;
    font-size: 16px;
}
p.buy-now {
    padding: 0 28px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.payment-category-list .bootstrap-select {
    padding: 0 25px 0 0;
    position: relative;
    top: -8px;
}
.setting-labelwrap label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: normal;
    color: #8c8c8c;
}
.setting-labelwrap {
    position: relative;
    padding: 0 0 0 60px;
}
.payment-category-divide-3 {
    float: right;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 75px 20px 0 415px;
}
.payment-category-divide-3 h2 {
    font-family: 'ProximaNovaA-Regular';
    font-size: 26px;
    padding: 30px 0 8px 0;
    margin: 0;
}
.payment-category-divide-3 h3{
    color: #3192e9;
    font-size: 18px;
    font-family: 'ProximaNovaA-Regular';
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
}
.payment-category-divide-3 label {
    font-weight: normal;
    color: #000;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
    padding: 25px 0 15px 0;
    margin: 0;
}
.payment-category-divide-3 p {
    font-size: 14px;
    color: #000;
    padding: 0 60px 0 0;
    text-align: justify;
}
.account-form-inner{
    display: none;
}
#Payment-Plans h1,
#Payment-History h1{
    font-family: 'ProximaNova-Semibold';
    font-size: 20px;
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.catgory-price-list li:before {
    position: absolute;
    content: '';
    background-image: url(../images/right-check-blue.png);
    left: 0;
    top: 7px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.payment-category-divide-2.active .catgory-price-list li:before{
    background-image: url(../images/right-check.png);
}
.payment-category-divide-2.active .catgory-price-detail h5,
.payment-category-divide-2.active .catgory-price-detail p.c-price,
.payment-category-divide-2.active .catgory-price-list li{
    color: #fff;
}
.payment-category-divide-2.active .catgory-price-detail h5:before{
    background: #fff;
}
.payment-category-divide-2.active .catgory-price-detail{
    background: #3192e9;
}
.payment-category-divide-2.active {
    z-index: 3;
    box-shadow: 2px 0 4px 0px rgb(202, 202, 204);
    position: relative;
}
.payment-category-combine-sec, 
.payment-category-combine-2sec {
    position: relative;
    padding-bottom: 20px;
    overflow: auto;
    white-space: nowrap;
    padding-left: 165px;
}
.payment-category-divide-1 {
    width: 160px;
    padding: 0 20px 0 0;
    bottom: 57px;
    position: absolute;
    z-index: 9;
    background: #fff;
    left: 0;
    top: 75px;
}
.payment-category-divide-1.shadow {    
    box-shadow: 2px 2px 6px -4px #3192e9;
}
.payment-category-divide-1 ul.payment-catNav {
    position: absolute;
    bottom: 75px;
    right: 20px;
}
/*----------- Change-Password --- */
#Change-Password {
        border-radius: 0 6px 6px 6px;
}
#Payment-Plans{
    background-image: url(../images/setting-bg1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.password-grad{
    height: 5px;
    margin: 0 0 5px 0;
    background: #ff5d57; /* Old browsers */
background: -moz-linear-gradient(left, #ff5d57 0%, #ff9c57 8%, #f2b653 25%, #bdb142 48%, #9ba936 70%, #7da12d 85%, #789128 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff5d57 0%,#ff9c57 8%,#f2b653 25%,#bdb142 48%,#9ba936 70%,#7da12d 85%,#789128 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ff5d57 0%,#ff9c57 8%,#f2b653 25%,#bdb142 48%,#9ba936 70%,#7da12d 85%,#789128 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.upload-imagesec figure{
    width: 150px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    border: solid 2px #ddd;
}
.view-password {
    position: absolute;
    top: 0;
    right: 17px;
    z-index: 9;
    font-size: 18px;
    color: #aaaaaa;
    width: 35px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
/*----------- Switch-Organisation --- */
#Switch-Organisation img{
    width: 100%;
    height: 100%;
}
figure.profile-image {
    width: 120px;
    float: left;
    margin: 0 15px 10px 0;
    height: 60px;
    border: solid 2px #ddd;
    padding: 5px;
}
figure.radio-image {
    width: 120px;
    height: 80px;
    float: left;
    margin: -30px 15px 0 0;
    border: solid 2px #ddd;
    padding: 5px;
}
#Switch-Organisation h3.heading {
    padding: 20px 0;
}
#Switch-Organisation .radio-check label{
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
}
/*----------- Permissions --- */
#Permissions .btn-dash, #permissin-modal .btn-dash-modal{
    background: #fff;
    color: #3192e9;
    text-transform: capitalize;
    border: solid 2px #3192e9;
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    font-family: 'ProximaNova-Semibold';
}
#permissin-modal .btn-dash-modal.reset {
    color: #939393 !important;
    border-color: #939393 !important;
}
#permissin-modal .closed {
    background: #ff6464 !important;
}
.table-blank>thead>tr {
    background: #e0e9f2;
    color: #173f64;
    font-size: 16px;
    font-weight: normal;
    font-family: 'ProximaNova-Semibold';     
}
.table-blank>tbody>tr>td {
    border-top: none;
    font-size: 16px;
    color: #000;
}
.table-blank>thead>tr>th {
    vertical-align: middle;
    border-bottom: none;
}
.table-blank a.delete {
    color: #ff4646;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 45px;
}
.table-blank>tbody>tr td:first-child {
    padding-left: 20px;
}
/* modal--- */
#permissin-modal .modal-dialog {
    width: 800px;
    max-width: 100%;
}
.table-modal>thead>tr {
    background: #ffffff;
    color: #173f64;
    font-size: 16px;
    font-weight: normal;
    font-family: 'ProximaNova-Semibold';
    border-top: solid 4px #e0e9f2;
    border-bottom: solid 4px #e0e9f2;
    text-transform: uppercase;
}
.table-modal>tbody>tr>td , .table-modal>tbody>tr>td a{
    border-top: none;
    font-size: 16px;
    color: #000;
}
.table-modal>tbody>tr>td a {
    width: 80px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.table-modal .arrow {
    color: #000;
    font-size: 10px;
    position: relative;
    top: 5px;
    padding: 0 5px;
    float: right;
}
.table-modal .none {
    color: #939393;   
}
.table-modal .delete {
    color: #ff6464;   
}
.table-inner-strip {
    border-bottom: dashed 1px #ddd;
}
.table-inner-strip td:first-child {
    padding-left: 25px !important;
}
.table-inner-strip td {
    padding: 6px !important;
}
.table-heightscroll {
    height: 300px;
    overflow: hidden;
}
.table-modal a.dropdown:hover .table-dropdown{
    display: block;
}
.table-dropdown {
    width: 300px;
    border: solid 2px #3192e9;
    box-shadow: 0 0 10px 0px #3192e9;
    border-radius: 4px;
    position: absolute;
    background: #fff;
    top: 20px;
    left: 50%;
    margin: 8px 0 0 0;
    z-index: 9;
    display: none;
    transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
}

.information-block:hover .table-dropdown {
    display: block;
}
.information-block {
    position: relative;
}
.table-dropdown:before{
    border-color: transparent transparent #3192e9;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0 0 -15px;
    position: absolute;
    left: 50%;
    top: -10px;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
}
.table-dropdown p{
    font-size: 14px;
    font-family: 'ProximaNovaA-Regular';
    margin: 0;
}
.table-dropdown li {
    padding: 6px 15px;
    font-family: 'ProximaNova-Semibold';
}
.table-dropdown li:hover{
    background: #e8e8e8;
}
#Change-Password{
    display: block;
}
/*------------------------------------------------ leading page ------------------ */
.leading-banner {
    background: url(../images/login-banner.jpg);
    position: relative;
    padding: 90px 0 0 0;
    min-height: 433px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}
.leading-header{
    background-image: none;
}
.leading-banner .in {
    padding: 70px 0 0px 0;
}
.leading-banner h1 {
    font-size: 28px;
    font-family: 'ProximaNova-Semibold';
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}
.leading-banner p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 15px 0 0 0;
}

.leading-wrapper h2.head{
    font-size: 28px;
    font-family: 'ProximaNova-Semibold';
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}
.leading-wrapper p.para{
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 15px 0 0 0;
}
.leading-wrap1{
    text-align: center;
    background: #fff;
}
.leading-wrap1 .container {
    max-width: 900px;
}
.leading-wrap1 ul {
    float: left;
    width: 100%;
    padding: 60px 0;
}
.leading-wrap1 li {
    float: left;
    width: 33%;
    padding: 0 25px;
}
.leading-wrap1 li a {
    color: #2d527c;
    font-size: 18px;
    display: block;
    padding: 20px;
    border-radius: 25px;
}
.leading-wrap1 li a:hover {
    background: #f7f7f7;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.leading-wrap1 li a img {
    width: 70px;
    margin: 0 0 20px 0;
}
.leading-wrap2 {
    background: #f7f7f7;
    padding: 50px 0 20px 0;
}
.leading-wrap2 .owl-stage-outer {
    padding: 40px 0 20px;
}
.leading-wrap3 {
    padding: 70px 0 15px 0;
}
.leading-wrap4{
    background: url(../images/leading-bg2.jpg);
    position: relative;
    background-repeat: no-repeat;    
    min-height: 142px;
}
.leading-wrap4 .in {
    padding: 30px 0 0 0;
}
.leading-wrap4 .head{
    color: #fff !important;
}
.leading-wrap4 .para{
    color: #fff !important;
    padding: 5px 0 0 0 !important;
}
.leading-wrap4 .btn-cld {
    border: solid 2px #fff;
    border-radius: 4px;
    padding: 6px 40px;
    font-family: 'ProximaNovaA-Regular';
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    margin: 45px 0 0 0;
}
.leading-wrapper footer {
    border-top: none;
}
/*------------ login modal ------- */
#myloginModal .modal-dialog {
    width: 820px;
    max-width: 100%;
}
#myloginModal .modal-content {
    border-radius: 12px;
}
.login-wraper {
    position: relative;
    min-height: 500px;
    padding-left: 340px;
}
.login-wraper .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
}
.login-wraper .form-wraper {
    padding: 30px;
}
.login-wraper h3 {
    margin: 0;
    font-size: 17px;
    color: #4f4f4f;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.login-wraper h2 {
    font-size: 24px;
    font-family: 'ProximaNova-Semibold';
    color: #000000;
    margin: 0;
    padding: 20px 0 40px 0;
}
.login-wraper .form-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 340px;
    width: 100%;
}
.login-wraper .form-footer ul{
    border-top: solid 1px #ddd; 
    padding: 0 30px;
}
.login-wraper .form-footer li {    
    display: inline-block;
}
.login-wraper .form-footer li a {
    color: #4f4f4f;
    text-transform: uppercase;
    padding: 20px 10px;
    display: block;
    letter-spacing: 0.5px;
    font-size: 12px;
    position: relative;
}
.login-wraper .form-footer li a:hover {
    background: #3192e9;
    color: #fff !important;
}
.login-wraper .form-footer li a:before {
    content: '';
    background: #4f4f4f;
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 1px;
    margin: 24px -2.5px;
}
.login-wraper .form-footer li:first-child a:before {
    content: none;
}
.login-wraper .input-form {
    position: relative;
    padding: 0 0 10px 0;
}
.login-wraper .input-form input[type="text"], .input-form input[type="password"] {
    font-size: 18px;
    color: #000;
    padding: 5px 10px 10px 40px;
    width: 100%;
}
.login-wraper .input-form .input {
    border-bottom: solid 2px #b0b0b0;
    position: relative;
}
.login-wraper .input-form img {
    position: absolute;
    top: 10px;
    left: 0;
}
.login-wraper .input-form img.lock{
    top: 0;
}
.login-wraper .login-error-msg {
    color: #ea0e0e;
    font-size: 16px;
    float: right;
    display: none;
}
.login-wraper .btn-dash{
    width: 150px;
    margin-top: 10px;
    font-family: 'ProximaNova-Semibold';
}
.login-wraper .input-form span{
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0px;
    height: 2px;
    border-bottom: solid 2px #3192e9;
    box-shadow: 0px 0px 4px 0px #3192e9;
    -webkit-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}
.login-wraper .input-form input[type="text"]:focus ~ span,
.login-wraper .input-form input[type="password"]:focus ~ span{
    width: 100%;
    left: 0;
}
/* ------------------------- payment sec--------------- */
.payment-wraper {
    padding: 50px 0;
}
.payment-list h3 {
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova-Semibold';
}
.payment-list ul {
    padding: 15px 0 40px 0;
}
.payment-list li {
    font-size: 16px;
    color: #000;
    position: relative;
    display: block;
    padding: 5px 0 0 35px;
}
.payment-list li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    padding-top: 10px;
}
.payment-column {
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: 0 0 2px 0px #ddd; 
    margin-bottom: 25px;   
}
.payment-column .tabwrap{
    padding: 20px;
    position: relative;
    display: none;
}
.payment-column .form {
    padding: 0 25px;
}
.payment-column .steps-label {
    font-size: 16px;
    color: #000;
    position: absolute;
    top: -30px;
}
.payment-column h2 {
    color: #3192e9;
    font-size: 22px;
    font-family: 'ProximaNova-Semibold';
    margin: 0;
    padding: 0;
}
.payment-column .para{
    font-size: 16px;
    color: #000;
    margin: 0;
}
.payment-column .input {
    position: relative;
    padding: 0 0 0 140px;
    margin-bottom: 20px;
}
.payment-column .input label{
    position: absolute;
    top: 0;
    left: 0;
    width: 135px;
    overflow: hidden;
    padding-top: 10px;
}
.payment-column .btn-dash{
    color: #fff;
    margin-top: 10px;
}

/*/------- second step---------*/
.payment-radio-step2 .radio-check {
    position: relative;
    border: solid 2px #ddd;
    border-radius: 4px;
    display: block;
    padding: 15px;
    margin-bottom: 10px;
}
.payment-radio-step2 .radio-check h3{
    color: #000000;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
    margin: 0;
    padding: 0 0 5px 0;
}
.payment-radio-step2 .in {
    padding: 0 0 0 40px;
}
.payment-radio-step2 label{
    position: absolute;
    top: 15px;
    left: 15px;
}
.payment-radio-step2 .radio-check h3 span{
    color: #e32121;
}
.payment-check .checkbox-input + .checkbox-label:before {
    background: #eaeaea;
    border: none;
}
.payment-check .checkbox-input:checked + .checkbox-label:before {
    background: url(../images/check-member.png) no-repeat;
    background-color: transparent;
    width: 23px;
}
.payment-check.check {
    position: relative;
    padding-left: 30px;
    margin: 8px 0;
}
.payment-check label.checkbox-label {
    position: absolute;
    top: 0;
    left: 0;
}
.payment-radio.m-t-sm {
    position: relative;
}
.payment-radio .input-label {
    position: absolute;
    top: 0;
    left: 0;
}
.payment-radio .in {
    position: relative;
    padding-left: 160px;
}
.payment-radio .radio-check {
    margin-bottom: 10px;
}
.payment-column .tab {
    border-bottom: solid 1px #ddd;
    padding: 20px 20px 40px;
}
.payment-column .tab ul {
    text-align: center;
}
.payment-column .tab li {
    display: inline-block;
    width: 32%;
    position: relative;
}
.payment-column .tab a {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background: #ebebeb;
    margin: 0 auto;
}
.payment-column .tab li:first-child a{
    margin-left: 0;
}
.payment-column .tab li:last-child a{
    margin-right: 0;
}
.payment-column .tab li:first-child:before {
    content: '';
    position: absolute;
    background: #ebebeb;
    height: 1px;
    width: 100%;
    left: 20px;
    top: 10px;
}
.payment-column .tab li.active_1:after{
    content: '';
    background: #3192e9;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 20px;
    top: 10px;
}
.payment-column .tab li.active_1 a,
.payment-column .tab li.active_2 a,
.payment-column .tab li.active_3 a {
    background: #3192e9;
}
.payment-column .tab li:last-child:before {
    content: '';
    position: absolute;
    background: #ebebeb;
    height: 1px;
    width: 100%;
    right: 20px;
    top: 10px;
    left: inherit;
}
.payment-column .tab li.active_3:after {
    content: '';
    position: absolute;
    background: #3192e9;
    height: 1px;
    width: 100%;
    right: 20px;
    top: 10px;
    left: inherit;
}
.payment-column .tab li:before {
    content: '';
    position: absolute;
    background: #ebebeb;
    height: 1px;
    width: 100%;
    left: 0;
    top: 10px;
}
.payment-column .tab li.active_2:after {
    content: '';
    position: absolute;
    background: #3192e9;
    height: 1px;
    width: 100%;
    left: 0;
    top: 10px;
}
.payment-column #column_id1{
    display: block;
}
#forgot-id{
    display: none;
}
.input-validation-error {
    border-bottom: solid 2px red;
    position: relative;
    bottom: -2px;
}
.payment-innertabs { padding: 0 0 25px 0;}
.payment-innertabs li { display: inline-block;}
.payment-innertabs li a { padding: 10px 20px; font-size: 16px;    color: #3192e9;    background: #fff; border-radius: 2px;    border: solid 2px #3192e9;}
.payment-innertabs li.active a { background: #3192e9;  color: #fff;}
