
@media screen and (max-width: 1600px) {
.sideNav {
	width: 170px;
}
nav.rnavbar-left ul li a {
	padding: 15px 10px;
	font-size: 18px;
}
header.main-header {
	left: 170px;
}
.heading-icons > img {
    width: 22px;
}
.sideNav-Right {
	width: 310px;
}
.column-grid .column .content p {
	font-size: 18px;
	padding: 45px 0 20px;
}
.right-sidenav .name {
	font-size: 20px;
}
.right-sidenav li a, .right-sidenav .msg-alert, .right-sidenav .msg-alert .badge-msg {
	font-size: 16px;
}
.center-section {
	padding: 80px 310px 0px 170px;
}
footer.padding-dashboard {
	padding: 10px 310px 10px 170px;
}
.center-section .column-grid {
	padding: 12px 25px;
}
.column-grid .column .content .icon {
	width: 85px;
	height: 85px;
	top: -43px;
}
.social > li {
    padding: 5px 15px;
}
.user-desktop {
	width: 50px;
	height: 50px;
}
.social > li a img {
	width: 21px;
}
.social > li a .hide-in img {
	width: 27px;
	margin: 0 0 0 15px;
}
nav.rnavbar-left ul li a span.nav-ico img {
    width: 25px;
}
nav.rnavbar-left ul li.projects-nav a span.nav-ico img, nav.rnavbar-left ul li.rfis-nav a span.nav-ico img {
    width: 32px;
}
.footer > figure img {
    width: 32px;
}
.comment-onclick figure {
    height: 70px;
    width: 70px;
}
.comment-onclick p {
    font-size: 20px;    
}
.comment-onclick p span {
    font-size: 16px;
}
.comment-onclick > li a {
    font-size: 16px;   
}
.button100 {
    padding: 10px 20px 20px;
}
.notification-toggle-inner{
	padding: 56px 0 0;
}
.notification-toggle{
	width: 370px;	
}
.notification-toggle .nt-heading{
	font-size: 18px;
    padding: 15px 25px;
}
.notification-toggle .nt-footer a{
	font-size: 15px !important;
    padding: 15px;
}
.notification-toggle .nt-footer a:hover{
	color:#ffffff;
	background:#3192e9;
}
.notification-toggle li{
	padding: 15px 15px 10px 50px;
}
.notification-toggle li::before {
   left: 25px;   
}
.notification-toggle li.post-msg{
	background:#ffffff;
}
.notification-bullet:before{
	border: 2px solid #c5d4dd;
    left: 20px;
    padding: 4px;
    top: 30px;
}
.notification-toggle figure{
	margin: 0 15px 0 0;
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
	float:left;
}
.notification-toggle figure img{
	height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
    width: 100%;
}
.notification-toggle .message{
	padding: 0;
}
.notification-toggle .message p{
	font-size: 16px;
	height: 45px;
}
.notification-toggle .message span.time{
	font-size: 14px;
}
.notification-toggle .message a{
	font-size: 14px;
    margin: 3px 5px 3px 0; 
}
.notification-toggle .message a.Communication {
    border-color: #3192e9;
    color: #3192e9;
}
.notification-toggle .message a.Communication:hover {
    border-color: #3192e9;
    color: #edf6ff;
	background:#3192e9;
}
.notification-toggle .message a.outcome  {
    border-color: #ff5c5c;
    color: #ff5c5c;
}
.notification-toggle .message a.outcome:hover {
    border-color: #ff5c5c;
    color: #edf6ff;
	background:#ff5c5c;
}
/*-------notification page-------- */

.notification {
    padding: 80px 0 0 170px;    
}
.message-notif .msg p {
    font-size: 16px;   
}
/*-------profile page-------- */
.profile {
    padding: 80px 0 0 170px;  
}
.profile-inner{
	padding: 25px 25px;	
}
.profile-user-detail h1 {
    font-size: 18px;    
    margin: 20px 0 6px 0;
}
.profile-user-detail p {
    font-size: 16px;   
}
/*-------projects css-------- */
.project-figurelist > h1 {
    font-size: 18px;
    padding: 0 55px 5px 10px;   
}
.column-grid .project-column figure {
    min-height: 170px;  
}
.project-userlist label{
	font-size:13px;	
}
.project-header{
	padding-right: 480px;
}
.project-navbar-filter {
    padding: 14px 0 14px 110px;
}
ul.project-navbar {
    padding: 5px 0 0;
}
.project-navbar-filter > a.sort {
    padding: 11px 0;   
}
.project-navbar-filter .btn-group.bootstrap-select {
    top: 4px;
}
.project-top-gap {
    padding: 118px 0px 0;
}
/*-------Module css page-------- */
.module{
	padding: 143px 0 0 0;		
}
.module-header{
    padding-right: 480px;  
}
.module-header .head h1 {
    font-size: 20px;   
}
.module-header p {
    font-size: 18px;    
}
.module-header .inner {
    padding: 20px 15px 0;
}
.module {
    padding: 130px 0 0;   
}
.module-header .navmenu > li > a{
    font-size: 14px; 
	padding: 15px 15px 0px; 
}
.module-header .head {
    padding: 0 0 0 30px;
}
.module-header .head .icon img {
    width: 17px;
}
.module-header .navmenu {
    padding: 0 0 0 30px;
}
.module-header button.btn.dropdown-toggle.btn-default {
    font-size: 14px;
    padding: 5px 10px;
}
.module-header .filter {
    padding: 10px 0 0 40px;
}
.module-header .filter a{
    font-size: 15px;  
}
.module-header .filter .catg {
    padding: 18px 0;
}
/*------------ project detail--------------*/
.module-header .project-detail {
    padding: 0 0 0 30px;
}
.module-header .project-detail > li > a {
    font-size: 16px;  
	padding: 18px 20px 0;  
}
/*------------ project module task--------------*/
.moduletask .checkid label span {
    font-size: 22px;   
}
.moduletask .status p {
    font-size: 15px;   
}
.moduletask .col-grd {
	font-size:14px;
}
.moduletask .mid-sec a.image {
    font-size: 14px;
}
.modal-taskdata .left, 
.modal-taskdata .midsec p, 
.modal-taskdata .midsec span, 
.modal-taskdata .download-file label, 
.modal-taskdata .show-pdf label, 
.modal-taskdata .right, 
.modal-taskdata .addfile,
.modal-taskdata .footer-figure h2{
    font-size: 15px;
}
.modal-taskdata .midsec h2 {
    font-size: 17px;    
}
.modal-taskdata figure {    
    height: 50px;
    margin-right: 15px;    
    width: 50px;
}
.footer-figure figure {
    height: 40px;
    width: 40px;
}
/*------------- project module discussion---------------*/
.project-discus h1, .project-discus h2, .project-discus h3{
	font-size: 17px;
}
.project-discus .listing p, .project-discus .detail-msg{
	font-size:15px;
}
.project-discus .listing{	
	padding:60px 1px 15px 0;
}
.project-discus .fix-head input{
   font-size: 17px;
}

}

@media screen and (max-width: 1281px) {
.Dash-txt {
	font-size: 18px;
}
.Dash-txt .phead-name {
	padding: 3px 0 0 30px;
}
.heading-icons > img {
	width: 17px;
}
.right-sidenav li figure {
	height: 60px;
	width: 60px;
}
.right-sidenav li a:before {
	width: 5px;
}
.footer > figure img {
    width: 30px;
}
.dash-grid-wrap {
    padding: 70px 0 0;
}

.profile-user-detail.padding {
	padding: 20px 15px;
}
.profile-user-detail h1 {
	font-size: 16px;
	margin: 20px 0 6px;		
}
.profile-user-detail p {
	font-size: 15px;
}
.profile-user-detail .btn-profile {
	font-size: 15px;
	margin: 15px 0 0;
}
.profile-user-detail span.camera-icon {
    height: 40px;
    width: 40px;
}
.profile-user-detail span.camera-icon > img {
    width: 20px;   
}
.profile-user-detail .camera-icon-aarow {
    right: -65px;
    top: -11px;
}
.camera-icon-aarow img {
    width: 18px;
}
.profile-user-detail h2.edit-pf-name {
    font-size: 16px;
}
.btn-Orion-Const, .profiledata button.btn.dropdown-toggle.btn-default {
    font-size: 14px;   
}
.profile-user-detail figure {
    height: 100px;   
    width: 100px;
}
.profile-user-detail .camera-icon > a {
    height: 50px;    
    right: -9px;
    width: 50px;
	bottom:0;
}
/*-------projects css-------- */
ul.project-navbar {
    padding: 0;
}
.project-navbar.left > li > a {
    font-size: 15px;
	padding: 18px 10px 0;  
}
.project-navbar-filter > a.sort{
	 font-size: 15px;
}
.project-navbar-filter button.btn.dropdown-toggle.btn-default {
    font-size: 14px;    
}
.project-header .proj-head {
    font-size: 18px; 
	padding: 3px 0 0 40px;  
}
.project-header .proj-head .heading-icons > img {
    width: 30px;
}
.project-top-gap {
    padding: 117px 0 0;
}
.project-figurelist > h1 {
    font-size: 16px;
    padding: 0 85px 0 10px;
}
.project-navbar-filter{
	padding: 10px 0 10px 90px !important;
}
.project-top-gap {
    padding: 102px 0 0;
}

/*-------projects detail -------- */
.projectDetail .formtxt.pd {
    padding-left: 110px;
}
.projectDetail .formtxt label {
    font-size: 15px;   
    width: 110px;
}
.projectDetail input.form-control, .projectDetail button.btn.dropdown-toggle.btn-default, .projectDetail .head, .projectDetail .pt, .projectDetail .dropdown-menu{   
    font-size: 15px;   
}
.RangeSlider-drive .tooltip-inner {   
    font-size: 14px;
}
.projectDetail .buttonsub .btn-dash{
	font-size: 15px;
}
/*-------projects task module -------- */
.module-task-tabs > ul > li > a{
   font-size: 15px;
   padding: 8px 12px;
}
.module-task-tabs .modal-openbtn{
   font-size: 15px;
   padding: 8px 10px 8px 35px;
}
.module-task-tabs {
    padding: 30px 0 15px;	
}
.module-task-tabs .modal-openbtn img {
    left: 10px;
    padding: 11px 0;    
    width: 13px;
}
.module-task-tabs > ul > li.active > a {
    padding-left: 30px;
}
.module-task-tabs > ul > li.active > a::before {
    left: 12px;
    top: 38%;
}
}
@media screen and (max-width: 1199px) {
.profile-form .bor-left {
	border-right: none;		
}
/*-------projects css-------- */
/*-------projects css- model box------- */
.model-project-filter .header h1 {
    font-size: 18px;   
}
.model-project-filter .mid-content h2 {
    font-size: 16px; 
}
.model-project-filter .text-area label {
    font-size: 15px;    
    width: 100px;
}
.model-project-filter .checkbox-box > label, .model-project-filter .checkbox-box-filter > label {
    width: 100% !important;
}
.model-project-filter .text-area.righttext-area {
    padding: 0 0 0 40px !important;
}
.model-project-filter .text-area {
    padding: 0 0 0 100px;
}
.model-project-filter button.btn.dropdown-toggle.btn-default {
    font-size: 15px;
}
.model-project-filter .bootstrap-select.btn-group .dropdown-menu li a {
    font-size: 15px;
}
.model-project-filter .tooltip-inner {
    font-size: 13px;
    padding: 4px 12px;
}
.model-project-filter .slider .tooltip.top {
    margin-top: -45px;
}	

/*-------Module css page-------- */
.module-header .head h1, .module-file-col h4, .module-col h3, .modulefile-type h4{
    font-size: 16px;
}
.module-header p {
    font-size: 14px;
}
.module {
    padding: 120px 0 0;   
}
.module-file-col li{    
    font-size: 13px;
    padding: 5px 0 0;
}
.modulefile-type li{    
    font-size: 13px;
}
.module-file-col .data {
   padding: 10px;
}
.module-header .filter {
    padding: 6px 0 0 40px;
}
.module-header .filter .catg {
    padding: 14px 0;
}
.module-header .navmenu {
    margin: 0 0 -9px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}
.module-header .navmenu > li > a {
    padding: 15px 15px 9px;
}
/*---------- project detail--------------*/
.module-header .project-detail > li > a {
    font-size: 14px;
}


}
@media screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}

@media screen and (min-width : 768px) and (max-width : 1024px) and (orientation: portrait) {
.right-sidenav .notread-msg {
	top: -5px;
}
}
@media screen and (min-width : 991px) and (max-width : 1199px){	
	.projectDetail .column {
		border-bottom: 2px dotted #ddd;
		border-right: medium none;
		padding: 15px 0;
	}
	.projectDetail .in {
		padding: 15px 25px;
	}
	
}

@media screen and (max-width: 991px) {
.sideNav-Right-disnone{
	display:block;	
}
.sideNav-Right {
	right: -380px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.user-desktop {
	float: left;
}
.social > li a .hide-in {
	display: inline-block;
	margin: 0 0 0 20px;
}
.social > li a .hide-in img {
	width: 24px;
}
.user-desktop {
	height: 35px;
	margin: 7px 0 0;
	width: 35px;
}
.right-sidenav li figure {
	height: 40px;
	width: 40px;
}
.right-sidenav li a {
	padding: 15px 0 15px 15px;
}
.right-sidenav .online::before {
	height: 5px;
	left: 12px;
	top: 14px;
	width: 5px;
}
.right-sidenav .name {
	font-size: 16px;
	padding: 0;
}
.right-sidenav .msg {
	font-size: 13px;
}
.sideNav-Right {
	width: 260px;
}
nav.rnavbar-left ul li a span.nav-ico img {
	width: 16px;
}
nav.rnavbar-left ul li.projects-nav a span.nav-ico img, nav.rnavbar-left ul li.rfis-nav a span.nav-ico img {
	width: 22px;
}
nav.rnavbar-left ul li a span.nav-ico {
	padding: 0 0 10px;
}
nav.rnavbar-left ul li a {
	font-size: 16px;
}
.center-section {
	padding: 78px 0 0 170px;
}
.footer > figure img {
	width: 35px;
}
footer.padding-dashboard{
	padding: 10px 0 10px 170px;
}
.footer p {
	font-size: 14px;
}
.social > li a .user img {
	left: 49%;
	position: absolute;
}
.social > li a img {
	width: 18px;
}
.badge-notify {
	border-radius: 5px;
	left: 12px;
	font-size: 10px;
	font-weight: 500;
	top: -3px;
}
.social > li:last-child {
	padding-right: 0;
}
.sideNav-Right {
	padding: 78px 0 0 0;
}
#sideNav-Right.sideright-sm {
	right: 0px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.wrapchat-sm {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 9;
	display: none;
}
.wrapchat-sm.in {
	display: block;
}
.plus-menu li a {
	font-size: 15px;
}
.right-sidenav .notread-msg {
    top: -6px;
}

}

@media screen and (max-width: 991px) {
header.main-header {
	left: 0;
}
.center-section {
	padding: 78px 0px 0px 0px;
}
footer.padding-dashboard{
	padding: 10px 20px;
}
.nav-toggle {
	position: absolute;
	display: block;
	cursor: pointer;
	padding: 11px 30px 14px 0;
    margin: 16px 0;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
	cursor: pointer;
	border-radius: 20px;
	height: 4px;
	width: 30px;
	background: #555555;
	position: absolute;
	display: block;
	content: '';
}
.nav-toggle span:before {
	top: -10px;
}
.nav-toggle span:after {
	bottom: -10px;
}
#nav-toggle.active {
	transform: rotate(90deg);
	    padding-top: 10px;
}
.social > li {
	padding: 6px 15px;
}
.social > li a .user-desktop img {
	display: none;
}
.social > li a .hide-in {
	display: block;
}
.sideNav {
	width: 250px;
	left: -250px;
	padding: 78px 0 0 0;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.logo-wrap img {
	margin-left: 50px;
}
.rnavbar-left .user-mobile {
	display: block;
	text-align: center;
	background: #113454;
}
nav.rnavbar-left .user-mobile a:before {
	background: #113454;
}
.rnavbar-left .user-mobile p {
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	margin: 8px 0 0 0;
}
.rnavbar-left .user-mobile span {
	color: #3092e9;
}
.rnavbar-left .user-mobile span.user {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	overflow: hidden;
}
.rnavbar-left .user-mobile p {
	font-size: 16px;
}
.rnavbar-left .user-mobile span {
	font-size: 14px;
}
.rnavbar-left .user img {
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: relative;
	transform: translateX(-50%);
	width: 100%;
}
nav.rnavbar-left ul li a span {
	display: inline-block;
}
nav.rnavbar-left ul li a {
	padding: 25px 10px;
}
nav.rnavbar-left ul li a span.nav-ico {
	width: 75px;
	padding: 0 20px;
}
nav.rnavbar-left ul li a span.nav-ico img {
	max-width: 45px;
}
.center-section .column-grid {
	padding: 12px;
}
.column-grid .column .content p {
	font-size: 15px;
}
.comment-onclick {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 4px;
	box-shadow: 0 0 10px 4px #ddd;
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 320px;
}
.wrapnav-sm {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 9;
	display: none;
}
.wrapnav-sm.in {
	display: block;
}
.hide-in-mobile{
	padding: 0 !important;
}
#sideNav.sidenav-sm {
	left: 0px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

.dash-grid-wrap {
	padding: 65px 15px 0;
}
.user-desktop {
	display: none;
}
.Dash-txt {
	padding: 18px 30px;
	font-size: 20px;
}
.social > li a .hide-in {
	margin: 0;
}
.badge-notify {
    font-size: 12px;
    left: 15px;
    top: -3px;
}
.showonly-mobile{
	display:block !important;	
}
.showonly-mobile .edit {
    padding: 8px 10px 20px;
}
.user-mobile > a {
    padding: 25px 10px 0 !important;
}

.notification-toggle {
    width: 320px;
}
.notification-toggle li::before {
    left: 18px;    
}
.notification-toggle li:first-child::before {
    top: 35px;
}
.notification-toggle li:last-child::before {
    height: 35px;
}
.notification-bullet::before{
	left: 13px; 
	top: 25px;  
}
.notification-toggle figure {
    height: 40px;
    width: 40px;
}
.notification-toggle .message p {
    font-size: 16px;
	height: 70px;
}
.notification-toggle .message span.time {
    font-size: 15px;
}
.notification-toggle .nt-heading {
    font-size: 16px;
}
.notification-toggle-inner {
    padding: 53px 0 0;
}
.notification-toggle .nt-footer a{
	font-size: 14px;
	
}
.notification-toggle li {
    padding: 15px 15px 10px 40px;
}
.notification-toggle .nt-footer  a{
   padding: 15px 0px;
}
.notification-toggle .nt-footer a {
    font-size: 14px !important;
}
.dash-search input.in[type="search"]{
    width: 330px;
}
/*--------- notification ---------*/
footer.inner-footer {
    padding: 10px 20px;
}
.notification {
    padding: 78px 0 0;
}
.nt-time-alert {
    font-size: 16px;
    width: 230px;
}
.message-notif .msg p {
    font-size: 16px;   
}
.message-notif .msg span {
    font-size: 15px;
}
.message-notif .msg .btnbox a {
    font-size: 15px;
    padding: 4px 15px;    
}

/*--------- PROFILE ---------*/
.profile {
    padding: 78px 0 0;
}
.profile-inner {
    padding: 25px 10px;
}

/*-------projects css-------- */
.project-header {
    padding-right: 0;
}
.btn-dash {
    font-size: 16px;
    padding: 12px;
}
/*------------ chat discussion ----------- */
.chat-modelpopup {
    width: 360px;
}
.chat-modelpopup .modal-content{
    padding:30px;
}
.chat-modelpopup h1 {
    font-size: 20px;  
}
.chat-modelpopup p {
    font-size: 18px;   
}
.chat-modelpopup input[type="text"] {
	font-size:16px;
}
.chatbox-position{
	 right:0;
	 width:370px;	
}
.chatheader .submain h2, .chatheader h1, .midcenter .chat-msg h3{
	font-size:16px;	
}
.chatheader .main > a {
    padding: 19px;  
}
.chatheader .main > a > img{
    width: 15px;
}
.midcenter .chat-msg p, .midcenter .chat-msg span.time, .chatfooter textarea{
    font-size: 14px;
}
.aside-ul li > a, .aside-col .add > a{
	width:40px;
	height:40px;
	font-size: 18px;	
}
.aside-col li.active > a {
    font-size: 20px;
    height: 45px;
    width: 45px;
}
.aside-col ul {
    width: 55px;
}
.chatfooter {
    padding: 0 55px 0 0;
}
.aside-col .add {
    padding: 2px 8px;
}
.midcenter {
    padding: 118px 70px 60px 15px;
}
.full-height-chat #mCSB_4_scrollbar_vertical {
    right: 54px;
}
.midcenter .chat-msg figure {
    height: 45px;
  	width: 45px;
}
.midcenter .chat-msg {
    padding: 10px 0 0;
}

.createnew-model .header h1 {
    font-size: 28px;
	margin: 15px 0 5px;  
}
.createnew-model .content.left h2{
	font-size:18px;	
	padding: 15px 20px;
}
.createnew-model .content.right h2{
	font-size:18px;	
	padding: 0 0 10px;
}
.createnew-model .content.right .circle-check {
    padding: 100px 70px 0 25px;
}
.createnew-model .content.right .inner {
    padding: 15px 20px 10px;  
}
.full-height-checkbox {
   padding: 50px 30px 15px 20px;
}
.createnew-model .content.left .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 10px;
}
.createnew-model .content span {
    font-size: 16px;
    padding: 0 0 0 80px;
}
.createnew-model .content figure {
    height: 40px;
    top: -9px;
    width: 40px;
}
.createnew-model .check {
    padding: 20px 0;
}
.createnew-model .content.right .circle-label span {
    font-size: 22px;   
}
.createnew-model .content.right {
    border-left: dotted 2px #8eb3bc;
	border-top:none;
    border-radius: 0 0px 6px 6px;
}
.createnew-model .content.left {
    border-radius: 6px 6px 0 0;
}
.createnew-model .content.right .check {
    min-height: 55px;
}
.createnew-model .number .bullet .active > a {
    background-size: 40px;
}
.createnew-model .number .bullet a {
    background-size: 40px;
}
.createnew-model .number .bullet a > span {
    font-size: 16px;
}
.createnew-model .number .bullet a {
    width: 40px;
    height: 37px;
    margin: 5px;
}
.createnew-model .number .bullet a > span img {
    width: 12px;
}
.createnew-model .number ul.bullet {
    padding:0 0 42px 0px;
}
.createnew-model .numbering-chat {
    padding: 110px 16px 95px 0;
}

/*-------Module css page-------- */
.module-header {
    padding-right: 0;
}
.emailreminder-modal h2, .modal-newtaskedit h2 {
    font-size: 18px;
}
.modal-newtaskedit .head {
    padding: 20px;
}
.emailreminder-modal .content label {
    font-size: 16px;
	width: 110px;
}
.modal-newtaskedit .inner {
    padding: 0 0 0 110px;
}
.modal-newtaskedit .inner p {
    font-size: 16px;
    width: 110px;
}
.modal-newtaskedit input.form-control, .modal-newtaskedit button.btn.dropdown-toggle.btn-default {
   font-size: 16px;   
}

.modal-newtaskedit label.checklabel {
    font-size: 16px;
    padding: 4px 0;
}
.chosen-container-multi .chosen-choices {
    font-size: 16px;  
}
.modal-taskdata .left, 
.modal-taskdata .midsec p, 
.modal-taskdata .midsec span, 
.modal-taskdata .download-file label, 
.modal-taskdata .show-pdf label, 
.modal-taskdata .right, 
.modal-taskdata .addfile,
.modal-taskdata .footer-figure h2{
	font-size: 14px;
}
.modal-taskdata .midsec h2 {
	font-size: 16px;    
}
.modal-taskdata figure {    
	height: 50px;
	margin-right: 15px;    
	width: 50px;
}
.footer-figure figure {
	height: 40px;
	width: 40px;
}
.modal-taskdata .header h2 {
    font-size: 22px;
}
.modal-taskdata .midsec .in {
	padding: 15px 20px 10px;
}
.modal-taskdata .show-pdf img{
	width:15px;
}
.modal-taskdata .show-pdf .pdf {
    margin: 0 0 0 5px;
    width: 20px;
}
.modal-taskdata .download-icon .circle {
    font-size: 18px;
    height: 30px;
    width: 30px;
}
.modal-taskdata .download-file img{
	 width: 30px;
}
/*---------------- project discussion module------------*/
.project-discus h1, .project-discus h2, .project-discus h3 {
    font-size: 15px;
}
.project-discus .listing p, .project-discus .detail-msg {
    font-size: 13px;
}
.project-discus .fix-head input {
    font-size: 15px;
}
.project-discus figure {
    height: 40px;
    width: 40px;
}
.project-discus .fig-sec .cross {
    bottom: -4px;
    height: 15px;    
    right: -2px;
    width: 15px;
}
.project-discus .fig-sec .cross img {
    width: 8px;
}
.project-discus .detail-msg h3 {   
    padding: 0 0 5px;
}
.project-discus .detail-msg li {
    padding: 2px 0;
}
.project-discus .detail-msg .file .circle {
    font-size: 15px;
    height: 30px;
    width: 30px;
}
.project-discus .detail-msg .file img {
    width: 35px;
}
.project-discus .addfile {
    font-size: 14px;   
}
.project-discus .fig-sec .add img {
    width: 15px;
}
.project-discus .listing h1 img {   
    width: 15px;
}
.project-discus .fig-sec {
    height: 70px;   
}
.project-discus .reply-user {
    margin-left: 15px;
}

/*--------- inner header --- css---*/
.toggle-nav-inner {
    top: 0;
    right: 0;
    margin: 32px 0;
    transition: none !important;
}
.right-sec-header li:first-child {
    display: none;
}
.right-sec-header li a.login {    
    margin: 0 50px 0 0;
}
.toggle-nav-inner span {
    background: #fff;
}
.toggle-nav-inner span:before{
    background: #fff;
}
.toggle-nav-inner span:after{
    background: #fff;
}
.menu-navbar {
    display: none;
}
.mobile-menu-innerheader{
	display: block;
}
.mobile-menu-innerheader {
    display: block;
    position: fixed;
    right: -175px;
    top: 91px;
    background: #fff;
    width: 175px;
    font-size: 16px;
    bottom: 0;
 	transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.mobile-menu-innerheader.in{
	right: 0;
	transition: all ease-in .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}
.mobile-menu-innerheader ul {
    border-bottom: solid 2px #3192e9;
}
.mobile-menu-innerheader a {
   background: #3192e9;
	color: #fff;
    display: block;
    padding: 10px 20px;
    margin: 2px 0;
}
.mobile-menu-innerheader a:hover{
	background: #fff;
    color: #3192e9;
}
.body-append-class{
	position: fixed;
	min-height: 100%;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    background: rgba(0, 0, 0, 0.60);    
	transition: all ease-in .8s;
    -moz-transition: all ease-in-out .8s;
    -ms-transition: all ease-in-out .8s;
    -o-transition: all ease-in-out .8s;
    -webkit-transition: all ease-in-out .8s;
}
.body-append-class.in{
	display: block;
}









}
@media screen and (max-width: 767px) {
.dash-search input[type="search"] {
	position: fixed;
	right: 0;
	top: 78px;
	padding: 18px 0px;
	width: 0;	
}
.dash-search input[type=search].in{
	width:100%;
	padding: 19px 10px;
	background: #ffffff;
}

/*--------- notification ---------*/
.notification-inner::before {
    left: 15px;
}
.notification-inner {
    padding: 15px 20px 0 45px;
}
.message-notif li::before {
    left: -35px;   
}
.nt-time-alert {
    left: -50px;   
}
/*--------- profile ---------*/
.profile-user-detail {
    margin: 0 auto 20px;
}
.profile-user-detail {
    width: 290px;
    max-width: 100%;
}

/*-------projects css-------- */
.model-project-filter {
    margin: 0 auto;
    min-width: 300px;
    width: 80%;
}

/*-------Module css page-------- */
.modal-newcreate h1 {
    font-size: 20px;    
}
.model-for-folderdetail {
    width: 300px;
    margin: 20px auto;
}
.model-for-folderdetail .first h2 {
    font-size: 18px;
    margin: 8px 0 0;
}
.model-for-folderdetail .txt li {
    font-size: 15px;
	padding: 0;
}
.model-for-folderdetail .first figure img {
    width: 30px;
}
.model-for-folderdetail .first figure {
    height: 50px;
    width: 50px;
}
.model-for-folderdetail .second h3 {
    font-size: 16px;
}
.model-for-folderdetail .second p {
   font-size: 16px;  
}
.model-for-folderdetail .second span {
    font-size: 14px;
}
.model-for-folderdetail .second figure {
    height: 40px;
    width: 40px;
}
.model-for-folderdetail .first .in {
    padding: 30px 0 10px;
}
.module-file-dropdown{
	 width:160px;	
}
.module-file-dropdown li a {
    font-size: 14px;  
}
.projectDetail .column {
    border-bottom: 2px dotted #ddd;
    padding: 0 0;
	border-right: none;
	padding: 15px 0;
}
.projectDetail .in {
   padding: 15px 25px 15px; 
}
/*/---------- project module task popup------- */
button.btn.dropdown-toggle.btn-default, .emailreminder-modal .content textarea{
    font-size: 14px;  
}
.emailreminder-modal .content .in {
    padding: 0 0 0 110px;
}
.emailreminder-modal h2, .modal-newtaskedit h2{
    font-size: 18px;
    padding: 0 0 0 30px;   
}
.emailreminder-modal .header img {
    width: 20px;
}
.emailreminder-modal .content label {
    font-size: 14px;
	width: 110px;
}
.modal-newtaskedit .inner {
    padding: 0 0 0 100px;
}
.modal-newtaskedit .inner p {
    font-size: 14px;
    width: 100px;
}
.modal-newtaskedit input.form-control, .modal-newtaskedit button.btn.dropdown-toggle.btn-default {
   font-size: 14px;   
}
.modal-newtaskedit .inner p.pdl {
    padding-left: 0;
}
.modal-newtaskedit label.checklabel {
    font-size: 14px;
    padding: 4px 0;
}
.chosen-container-multi .chosen-choices {
    font-size: 14px;  
}
.chosen-container-multi .chosen-choices .search-choice {    
    padding: 6px 30px 6px 10px;
}
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    height: 10px;
    right: 5px;
    top: 8px;
    width: 13px;
	background-size:10px;
}
.modal-newtaskedit {
    max-width: 100%;
    width: inherit;
}
.moduletask .dropdwn-task > li > a {    
    font-size: 14px;
    padding: 8px 20px;
}
.modal-taskdata .left {
    border-bottom: 1px solid #ddd;
}
.modal-taskdata .right {
    border-top: 1px solid #ddd;
}
.mid-fullheight {
    border-left: none;
    border-right: none;
    height: 100%;
    padding: 0px;
}

}
@media screen and (max-width: 550px) {
nav.rnavbar-left ul li a, .rnavbar-left .user-mobile p, .right-sidenav .name {
	font-size: 15px;
}
.rnavbar-left .user-mobile span {
	font-size: 13px;
}
.column-grid .column100 {
	width: 100% !important;
}
.column-grid .column {
	width: 320px;
	max-width: 100%;
}
.footer p {
	font-size: 14px;
}
.center-section {
	padding: 63px 0 0;
}
.logo-header {
	padding: 10px;
}
.logo-wrap img {
	margin-left: 35px;
	width: 75px;
}
.nav-toggle {
	padding: 10px 25px 14px 0;
    margin: 9px 0;
}
#nav-toggle.active {
	transform: rotate(90deg);
	padding: 10px 25px 14px 0;
}
.nav-toggle span, .nav-toggle span::before, .nav-toggle span::after {
	width: 25px;
}
.social > li {
	padding: 0px 12px;
}
.footer > figure img {
    width: 22px;
}
.dash-search input[type="search"] {
	top: 63px;
	padding: 18px 0px;
}
.dash-search input[type="search"].in {
	padding: 18px 10px;
}
.sideNav {
	left: -205px;
	padding: 65px 0 0;
	width: 205px;
}
.rnavbar-left .user-mobile span.user {
	height: 70px;
	width: 70px;
}
nav.rnavbar-left ul li a span.nav-ico {
	padding: 0;
	width: 40px;
}
nav.rnavbar-left ul li a:before {
	width: 5px;
}
.right-sidenav li figure {
	height: 35px;
	width: 35px;
}
.sideNav-Right {
	width: 260px;
	padding: 65px 0 0;
}
.right-sidenav li a {
	padding: 20px 0 20px 25px;
}
.Dash-txt {
	font-size: 18px;
}
.dash-grid-wrap {
	padding: 60px 15px 0;
}
.social .icon > img {
	width: 20px;
}
.social > li a .hide-in > img {
	width: 28px;
}
.social > li a img {
	width: 17px;
}
.badge-notify {
	font-size: 11px;
	left: 12px;
	padding: 4px 5px;
	top: 0;
}
.social > li a img {
	width: 17px !important;
}
.right-sidenav .msg-alert .badge-msg {
	padding: 3px 10px;
}
.right-sidenav li a, .right-sidenav .msg-alert, .right-sidenav .msg-alert .badge-msg {
	font-size: 14px;
}
.social > li .dash-search {
     padding: 10px 0 18px;   
}
.social > li .dash-search {
    padding: 0;
}
.notification-toggle {
    right: -40px;
    width: 290px;
}
.notification-toggle::before{
	right: 51px;	
	top:-9px;
}
.notification-toggle .message p {
    font-size: 14px;
    height: 53px;
    line-height: 18px;
}
/*--------- notification ---------*/
.notification {
    padding: 63px 0 0;
}
.message-notif figure {
    height: 40px;
    width: 40px;
	margin: 0 10px 0 0;
}
.message-notif li {
    padding: 0 10px;
}
.message-notif .msg p {
    font-size: 14px;
}
.message-notif .msg span {
    font-size: 13px;
}
.message-notif .justnow .border::before {
    left: 48px;
	top: 20px;   
}
.nt-time-alert {
    font-size: 14px;
    width: 190px;
}
.message-notif .msg .btnbox a {
    font-size: 14px;
    padding: 3px 15px;
    margin: 10px 0 0 0;
}
.message-notif li .border {
    padding: 15px 0;
}
.message-notif li:before {
   	top: 25px;  
}
/*--------- profile ---------*/
.profile {
    padding: 63px 0 0;
}
.profile-form .inner {
    padding: 0 5px 40px;
}
.profile-form .data {
    font-size: 14px;
	padding-left: 85px;
}
.profile-form .data label {
    width: 70px;
}
.profile-form input.form-control, .profile-form button.btn.dropdown-toggle.btn-default {
    font-size: 14px;   
}

/*-------projects css-------- */
.column-grid .project-column {
	width: 320px;
	max-width: 100%;
}
.project-header .padding {
    padding: 22px 10px;
}
.project-header .proj-head {
    font-size: 15px;
	padding: 2px 0 0 35px;    
}
.project-header .proj-head .heading-icons > img {
    width: 25px;	
}
.project-navbar.left > li > a {
    font-size: 13px;   
}
.project-navbar-filter > a.sort, .project-navbar-filter button.btn.dropdown-toggle.btn-default {
    font-size: 13px;
}
.project-navbar-filter > a > img{
	width: 15px;
}
.project-navbar-filter{
    padding: 9px 0 9px 68px !important;
}

.project-top-gap {
    padding: 95px 0 0;
}
.project-figurelist .nav-image ul > li{
	font-size:14px;
	height: 40px;
	width: 40px; 	
}
.project-userlist p {
    font-size: 16px;    
}
.project-figurelist .nav-heart > img {
    width: 20px;
}
.module {
    padding: 110px 0 0;
}

}
@media screen and (max-width: 480px) {
.modal-newcreate h1 {
    font-size: 20px;   
}
.modal-newcreate input[type="text"] {
    padding:10px 12px;    
    font-size: 16px;
}
.chatbox-position{
	 width:320px;	
	 max-height: 355px;
}
.chatheader .main{
	 padding:15px;	
}
.chatheader .submain .btn-section {
    padding: 12px 0; 
}
.chatheader .submain h2, .chatheader h1, .midcenter .chat-msg h3{
	font-size:14px;	
}
.chatheader .submain .btn-section li img {
    width: 18px;
}
.chatheader .submain .btn-section::before {
    height: 45px;
    left: -36px;   
}
.chatheader .main > a {
    padding: 12px 20px;
}
.midcenter .chat-msg p, .midcenter .chat-msg span.time, .chatfooter textarea{
    font-size: 12px;
}
.aside-ul li > a, .aside-col .add > a{
	width:35px;
	height:35px;
	font-size: 16px;	
}
.aside-col li.active > a {
    font-size: 18px;
    height: 40px;
    width: 40px;
}
.aside-col ul {
    width: 55px;
	padding: 80px 0 50px;
}
.chatfooter {
    height: 50px;
}
.chatfooter > a {
    padding: 10px 70px 10px 0;
}
.chatfooter textarea {
    padding: 10px 45px 10px 10px;
}
.chatfooter > a > img {
    width: 20px;
}
.aside-col .add {
    padding: 2px 8px;
}
.midcenter {
    padding: 90px 70px 60px 15px;
}
.chatheader .submain h2 {
    padding: 20px 155px 9px 15px;
}
.full-height-chat #mCSB_4_scrollbar_vertical {
    right: 54px;
}
.midcenter .chat-msg figure {
    height: 35px;
  	width: 35px;
}
.midcenter .chat-msg {
    padding: 10px 0 0;
}
.createnew-model .header h1 {
    font-size: 25px;
	padding: 0 35px 0 30px;
}
.createnew-model .header img {
    width: 22px;	
}
.createnew-model .header {
    padding: 5px 0 10px 35px;
}
.createnew-model .content.left h2 {
    font-size: 15px;
	padding: 15px 20px;
}
.createnew-model .content span {
    font-size: 13px;
    padding: 0 0 0 80px;
}
.createnew-model .content figure {
    height: 35px;
    top: -9px;
    width: 35px;
}
.createnew-model .check {
    padding: 15px 0;
}
.createnew-model .content.right h2 {
    font-size: 15px;  
}
.createnew-model .content.right .inner li {
    min-width: 35px;
}
.createnew-model .content.right .circle-check {
    padding: 92px 70px 0 25px;
}
.createnew-model .content.right .check {
    padding: 10px 0 5px 0;
}
.createnew-model .content.right .circle-label span {
    font-size: 20px;
}
.full-height-checkbox {
    padding: 45px 30px 15px 20px;
}
.full-height-circlechatbox #mCSB_7_scrollbar_vertical {
    right: 50px;
}

/*-------Module css page-------- */
.module-file-sec{
	 width:100% !important;	
}
.module-file-col h4, .modulefile-type h4 {
    font-size: 14px;
}
.modulefile-type li {
    font-size: 12px;
}
.modulefile-type .right li a img {
    width: 18px;
}
.modulefile-type .right li a {
    padding: 10px 5px;
}
.modulefile-type .pdf {
    margin: 5px 8px 5px 0;
    width: 25px;
}
.module-file-upload p {
    font-size: 16px;
}
.module-header .navmenu > li > a {
    font-size: 12px;
    padding: 5px 12px 10px;
}
.module-header .filter a {
    font-size: 13px;
}
.module-header .filter .catg {
    padding: 5px 0;
}
.module-header .filter {
    padding: 0 0 0 35px;
}
.module-file-col {
    margin: 0 auto;
    max-width: 320px;
}
.modulefile-type li span {
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.projectDetail .formtxt.pd {
    padding-left: 0;
}
.projectDetail .formtxt label {
    font-size: 14px;
	position:relative;
	width:100%;    
}
.projectDetail input.form-control, .projectDetail button.btn.dropdown-toggle.btn-default, .projectDetail .head, .projectDetail .pt, .projectDetail .dropdown-menu{
    font-size: 14px;
}
.projectDetail .formtxt .persn {
    position: relative;
    top: -50px;
}
/*/---------- project module task popup------- */
.emailreminder-modal .content {
    padding: 15px 25px;
}
.emailreminder-modal .header, .modal-newtaskedit .head{
    padding: 15px 20px;
}
.emailreminder-modal h2, .modal-newtaskedit h2 {
    font-size: 16px;
}
.emailreminder-modal .content label, .modal-newtaskedit .inner p{
    padding: 5px 0;
    position: relative;
    width: 100%;
}
.emailreminder-modal .content .in,.modal-newtaskedit .inner{
    padding: 0;
}
.btn-dash {
    font-size: 14px;
    padding: 10px;
}
.modal-newtaskedit .inner p.persrntage {
    position: relative;
    top: -45px;
}
.modal-newtaskedit .m-b-s {
    margin-bottom: 10px !important;
}
.module-task-tabs {
    padding: 20px 0 15px 0;
}
.module-task-tabs > ul > li > a {
    font-size: 13px;
    padding: 5px;
}
.module-task-tabs .modal-openbtn {
    font-size: 13px;
    padding: 6px 10px 6px 28px;
}
.module-task-tabs .modal-openbtn img {
    left: 10px;
    padding: 10px 0;
    width: 9px;
}
.modal-taskdata .left, 
.modal-taskdata .midsec p, 
.modal-taskdata .midsec span, 
.modal-taskdata .download-file label, 
.modal-taskdata .show-pdf label, 
.modal-taskdata .right, 
.modal-taskdata .addfile, 
.modal-taskdata .footer-figure h2 {
    font-size: 13px;
}
.modal-taskdata figure {
    height: 40px;
    margin-right: 8px;
    width: 40px;
}
.modal-taskdata .midsec h2 {    
    padding: 0 80px 5px 0;
}
.modal-taskdata .footer {
    padding: 10px 20px;
}
.modal-taskdata .btn-edit-profile-add {
    width: 60px;
}
.modal-taskdata .btn-edit-profile-close{
    width: 60px;
}
.modal-taskdata .footer-figure h2 {    
    padding: 5px 0;
}
.modal-taskdata figure {
    height: 30px;
    width: 30px;
}
}
@media screen and (max-width: 360px) {
.social > li {
	padding: 0 7px;
}
.notification-toggle::before {
    right: 45px;
    top: -9px;
}
.profile-inner {
    padding: 25px 0;
}
}

@media screen and (min-width: 991px) {
.wrapMail-lg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 999;
	display: none;
	transition: all ease-in .5s;
	-moz-transition: all ease-in .5s;
	-ms-transition: all ease-in .5s;
	-o-transition: all ease-in .5s;
	-webkit-transition: all ease-in .5s;
}
.wrapMail-lg.in {
	display: block;
}
.comment-onclick.shw {
	display: block;
}
}
