.module-header{
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    padding-right: 575px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.module-header .inner {
    padding: 30px 30px 0;
    position: relative;
}
.module-header .head {
    padding: 0 0 0 50px;
    position: relative;
}
.module-header .head .icon{
	position:absolute;
	top:0;
	left:0;
}
.module-header .head h1{
	 font-size:24px;
	 color:#000000;	
	 margin:0;
	 padding:0;
	 text-transform:uppercase;
}
.module-header p{
	 font-size:22px;
	 color:#ff6464;	
}
.module-header .navmenu > li {
    display: inline-block;
}
.module-header .navmenu > li > a {
    position: relative;
    font-size: 20px;
    color: #979797;
    text-transform: uppercase;
    padding: 18px 20px 0;
    display: block;
}
.module-header .navmenu > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #f0385f;
    transition: width .3s;
    margin: 15px 0 -1px 0;
}
.module-header .navmenu > li > a:hover::after {
    width: 100%;
    transition: width .3s;
	-moz-transition: width .3s;
	-webkit-transition: width .3s;
}
.module-header .navmenu > li.active > a{
    color: #f0385f; 
}
.module-header .navmenu > li.active > a::after {
    width: 100%;   
}
.module-header .navmenu {
    padding: 0 0 0 45px;	
}
.module-header .filter{
	 position:relative;
	 padding: 0 0 0 70px;
}
.module-header .filter a{
	 font-size: 20px;
     color: #979797;
}
.module-header .filter .catg{
	position:absolute;
	top:0;
	left:0;
	padding: 8px 0;
}
.module {
    padding: 162px 0 0;
    position: relative;
    z-index: 99;
}
.module-col {
    padding: 20px;
}
.module-col h3{
	color:#323232;
	font-size:18px;	
	padding: 0 0 10px 0;
	text-transform: uppercase;
}
.module-file-col .inner{
    background: #fff;
    border-radius: 6px 0 6px 6px;
	padding:5px;
	margin: 0 45px 0 0;
    box-shadow: 0 0 6px 2px rgba(218, 218, 218, 0.83);
}
.module-file-col{
	 position:relative;	
}
.module-file-sec{
	 padding:10px 0;	
}
.module-file-col .side{
	position: absolute;
    content: '';
    top: 0;
	cursor: pointer;
    right: 10px;
    background: #ffffff;
    width: 35px;
    height: 50px;
    border-radius: 0 6px 6px 0;
	box-shadow: 6px 0px 6px 2px rgba(218, 218, 218, 0.83);
}
.module-file-col .side span{
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #b8b8b8;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 22px 14px;	
}
.module-file-col .side span:before, .module-file-col .side span:after{
	position:absolute;
	content:'';
	top:0;
	left:0;
	background:#b8b8b8;
	width:6px;
	height:6px;	
	border-radius:50%;
}
.module-file-col .side span:before{
	top: 12px;
}
.module-file-col .side span:after{
	top: -12px;
}

.module-file-col figure {
    text-align: center;
    background: #cce2ed;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    height: 150px;
    width: 100%;
}
.module-file-col figure img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
    width: auto;
}
.module-file-col h4{
	color:#323232;
	font-size:18px;
	margin:0;
	cursor: pointer;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-family:'ProximaNova-Semibold';	
}
.module-file-col ul{
	position:relative;
	padding: 0 25px 0 0;
}
.module-file-col li {
    color:#979797;
	font-size:14px;
	display: inline-block;
	position:relative;
}
.module-file-col li:before {
    content: '|';
    position: relative;
    padding: 0 5px;
    top: 0;
    left: 0;
}
.module-file-col li:first-child:before{
	display:none;
}
.module-file-col .data .in{
	position:relative;	
}
.module-file-col .data {
    padding: 15px 15px;
	overflow: hidden;
}
.module-file-col .heart {
    position: absolute;
    right: 0;
    bottom: 0;
}
.module-file-col .heart > img {
    width: 20px;
}
.module-file-col .innerplus {
    height: 100%;
    height:220px;
    margin: 0 45px 0 0;
	background: #f2f2f2;
	border-radius:6px;
	border: dotted 3px #d1d1d1;
}
.module-file-col .innerplus a {
    display: block;
    width: 100%;
    height: 100%;
	position: relative;
}
.module-file-col .innerplus a img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
    width: auto;
}
.module-file-upload {
    position: relative;
    border: dotted 3px #d1d1d1;
    border-radius: 6px;
    padding: 20px;
	background: #f2f2f2;
	text-align:center;
	display:block;
}
.module-file-upload input#fileupload {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
	top: 0;
	left: 0;
}
.module-file-upload p{
	 font-size:18px;
	  color:#9c9b9b;
	  margin:0;
}
.modulefile-type{
	margin:15px 0;
	position:relative;	
}
.modulefile-type .in{
	background:#ffffff;
	padding: 10px;
	border-radius:5px;	
	box-shadow: 0 0 4px 2px rgba(218, 218, 218, 0.83);
}
.modulefile-type .pdf {    
    width: 40px;    
	float: left;
	margin: 0 15px 0 0;
}
.modulefile-type .pdf img {    
    width: 100%;
}
.modulefile-type h4{
	color: #323232;
    font-size: 18px;
    font-family: 'ProximaNova-Semibold';
    margin: 0;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding: 6px 0 0 0;
}
.modulefile-type li {
    color:#979797;
	font-size:14px;
	float: left;
	position:relative;
}
.modulefile-type li span{
	color:#3192e9;	
}
.modulefile-type li:before {
    content: '|';
    position: relative;
    padding: 0 5px;
    top: 0;
    left: 0;
}
.modulefile-type .right li:before {
	display:none;
}
.modulefile-type li:first-child:before{
	display:none;
}
.modulefile-type .right {
    float: right;
}
.modulefile-type .right li a {
    padding: 10px 10px;
    display: block;
}
.modulefile-type .right li a img {
    width: 22px;
}
.modulefile-type .right a.dots {
    padding: 20px 10px;
}
.modulefile-type .right span{
	position: absolute;
    content: '';   
	background: #b8b8b8;
    width: 5px;
    height: 5px;
    border-radius: 50%;  
}
.modulefile-type .right span:before, .modulefile-type .right span:after{
	position:absolute;
	content:'';	
	background:#b8b8b8;
	width:5px;
	height:5px;	
	border-radius:50%;
}
.modulefile-type .right span:before{
	top: 10px;
}
.modulefile-type .right span:after{
	top: -10px;
}
/*--- dropdown------*/

/*.module-file-col .side:hover ul.module-file-dropdown{
	opacity:9;
	visibility:visible;
	transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}
*/
.module-file-dropdown{
	position: absolute !important;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0px rgba(49, 49, 49, 0.48);
    padding: 0 !important;
    z-index: 99;    
    width: 180px;
    text-align: left;
    right: 9px;
    top: 60px;
}
.module-file-dropdown li {
    display: block;
    width: 100%;
	padding:0 !important;	
} 
.module-file-dropdown li:before{
	display:none;
}
.module-file-dropdown:before{
	border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 12px;
    content: "";
    display: inline-block;
    height: 0;
    left: 92%;
    margin: 0 0 0 -15px;
    position: absolute;
    top: -11px;
    width: 0;
}
.module-file-dropdown li a{
	display:block;
	font-size:16px;
	color:#000;
	padding:10px 20px;
	border-bottom:solid 1px #ddd;		
}
.module-file-dropdown li a:hover {
    background: #f5f5f5;
    color: #ff6464;
}
.module-file-dropdown li:first-child a:hover {
    border-radius: 4px 4px 0 0;
}
.module-file-dropdown li:last-child a:hover {
    border-radius: 0 0 4px 4px;
}
/*------------ modal box for folder detail---------------*/
.model-for-folderdetail{
	width:350px;	
}
.model-for-folderdetail .modal-content {
    overflow: hidden;
}
.model-for-folderdetail .txt{
	overflow:hidden;
	position:relative;
}
.model-for-folderdetail .txt li{
	font-size:18px;
}
.model-for-folderdetail figure{
	overflow:hidden;
	border-radius:50%;
	position:relative;	
	float: left;
	margin: 0 15px 0 0;
}
.model-for-folderdetail figure img{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);	
}
.model-for-folderdetail .first .in {
    padding: 30px 0 20px 0;
}
.model-for-folderdetail .first{
	background:#f6f6f6;
	 padding: 15px 35px;
}
.model-for-folderdetail .first h2{
	color: #000000;
    font-size: 22px;
    font-family: 'ProximaNova-Semibold';
    margin: 15px 0 0 0;
}
.model-for-folderdetail .first figure{
	width:70px;
	height:70px;	
	background:#cce2ed;
}
.model-for-folderdetail .first figure img{	
	width: 45px;
}
.model-for-folderdetail .second {
    background: #ffffff;
    padding: 15px 35px;
}

.model-for-folderdetail .second .in {
    padding: 5px 0 20px 0;
}
.model-for-folderdetail .second h3{
	color:#3192e9;
	font-size:18px;
	text-transform:uppercase;
	text-align: center;
}
.model-for-folderdetail .second p{
	color:#000000;
	margin:0;
	font-size:20px;
}
.model-for-folderdetail .second span{
	color:#979797;
	font-size:18px;
}
.model-for-folderdetail .second figure{
	width:50px;
	height:50px;	
}
.model-for-folderdetail .second figure img{	
	width:100%;
	height:100%;
}
/*--------------------- project detail--------------*/
.projectDetail{
	padding: 135px 0 0;	
}

.projectDetail .in {
    background: #fff;
    border-radius: 6px;
    padding: 30px 10px 15px 10px;
    margin: 25px;
	box-shadow: 0 0 7px 0px rgba(78, 77, 77, 0.15);
}
.projectDetail .column {
    border-right: dotted 2px #ddd;
    padding: 0 20px;
}

.projectDetail .formtxt.pd{	
    padding-left: 130px;
    position: relative;
}
.projectDetail .formtxt label{
	color: #979797;
	font-family: 'ProximaNova-Semibold';
	font-size: 18px;
	padding: 6px 0;
	margin:0;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: normal;
    width: 130px;
    display: block;
    overflow: hidden;
}
.projectDetail input.form-control {
    border: 2px solid #dddddd;
    color: #000000;
	font-size: 18px;
    box-shadow: none;
	height: auto;
    padding: 6px 15px;
}
.projectDetail button.btn.dropdown-toggle.btn-default{
    border: 2px solid #dddddd;
    color: #000000;
    font-size: 18px;   
    padding: 6px 35px 6px 15px;
}
.projectDetail .dropdown-menu{
	font-size: 18px;  
}
.projectDetail .head{
	color: #000000;
	font-family: 'ProximaNova-Semibold';
	font-size: 18px;
	margin:0;
	padding: 10px 0;
}
.projectDetail .pt{
	color: #afafaf;	
	font-size: 18px;
}
.projectDetail figure.image{
	overflow:hidden;
	border-radius:6px;
	width:100%;
	margin: 25px 0;
	position:relative;
	height:160px
}
.projectDetail figure.image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
	width: 100%;
}
.projectDetail .buttonsub{
	position:relative;
	display: inline-block;	
}
.projectDetail .buttonsub input#CoverImage {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.projectDetail .buttonsub .schedule{
	 width: auto;
	 padding-right: 25px;
     padding-left: 25px;		
}
.projectDetail .buttonsub .save{
	 background:#173f64;
	 width: auto;
	 padding-right: 25px;
    padding-left: 25px;		
}
.projectDetail .buttonsub .browse{
	 background:#aaaaaa;
	 color:#ffffff;	
	 width: auto; 
	 padding: 12px;
}
.projectDetail .buttonsub .remove{
	 color:#747474;
	 padding: 10px 15px;
	 width: auto;
	 font-family: 'ProximaNova-Semibold';
	 background-color:transparent;
	 border:solid 2px #747474;	
}
/*----------- project - module - task ----------------*/
.moduleTask{
	padding-left:25px !important;
	padding-right:25px !important;	
}
.module-task-tabs{
	padding: 20px;
}
.module-task-tabs > ul > li{
	display:inline-block;
	position:relative;
	margin: 5px;
}
.module-task-tabs > ul > li > a{
	font-size: 18px;
    color: #656c88;
    display: block;
    padding: 8px 25px;
    border: solid 2px #656c88;
    border-radius: 6px;
}
.module-task-tabs > ul > li.active > a{
	background: #656c88;
    color: #fff;
    text-transform: uppercase;
    padding-left: 40px;
}
.module-task-tabs > ul > li > a:hover{
	background: #656c88;  
	color:#fff; 
}
.module-task-tabs > ul > li.active > a:before {
    position: absolute;
    content: '';
    top: 40%;
    left: 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}
/*--- tabs end---*/
.moduletask .dropdwn-task.select{
	display:block;
}
.moduletask .dropdwn-task{
    background: #fff;
	z-index:99;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(49, 49, 49, 0.48);
    display:block;
    position: absolute;
    right: 0;
	text-align: left;
    top: 48px;   
    width: 180px;
	display: none;
}
.moduletask .dropdwn-task:before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 12px;
    content: "";
    display: inline-block;
    height: 0;
    left: 92%;
    margin: 0 0 0 -15px;
    position: absolute;
    top: -11px;
    width: 0;
}
.moduletask .dropdwn-task > li > a{
	color:#000;
	font-size:16px;
	display:block;
	padding:10px 20px;
	border-bottom:solid 1px #ddd;	
}
.moduletask .dropdwn-task > li a:hover {
    background: #6e671a;
    color: #fdf596;
}
.moduletask .dropdwn-task > li:first-child a:hover {
    border-radius: 4px 4px 0 0;
}
.moduletask .dropdwn-task > li:last-child a:hover {
    border-radius: 0 0 4px 4px;
}
/*------- dropdown end---*/
.moduletask .normal-col .head {
    background: #c4f9f0;
    color: #21685c;
}
.moduletask .normal-col .bullet span {
    background: #88cfc3;    
}
.moduletask .normal-col .bullet span:before, .moduletask .normal-col .bullet span:after {
    background: #88cfc3;  
}
.moduletask .normal-col .mid-sec{
	background: #a8ece0; /* Old browsers */
	background: -moz-linear-gradient(top, #a8ece0 0%, #a9ece1 16%, #c4f9f0 59%, #c4f9f0 59%, #c4f9f0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a8ece0 0%,#a9ece1 16%,#c4f9f0 59%,#c4f9f0 59%,#c4f9f0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a8ece0 0%,#a9ece1 16%,#c4f9f0 59%,#c4f9f0 59%,#c4f9f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8ece0', endColorstr='#c4f9f0',GradientType=0 ); /* IE6-9 */
}
.moduletask .normal-col .progress{
    background: #88cfc3;
}
.moduletask .normal-col .status p {
    color: #21685c;
}
.moduletask .normal-col .status label {    
    color: #21685c;
}
.moduletask .normal-col .mid-sec .col-grd {
    border-bottom: solid 1px #21685c;
}
.moduletask .normal-col .mid-sec a.image img, .moduletask .normal-col .mid-sec a.image span.n {    
    color: #21685c;
}
.moduletask .normal-col .mid-sec a.image {    
    background: #88cfc3;
}

.moduletask .normal-col .dropdwn-task > li a:hover {
    background: #21685c;
    color: #c4f9f0;
}
.moduletask .normal-col .head::before {
    background: rgba(0, 0, 0, 0) url("../images/borderpin-normal.png") no-repeat scroll left top / 20px auto;   
}
.checkbox-input.task.normal:checked + .checkbox-label.task.normal:before {    
    background-color: #8ed3c8;
}
.moduletask .colitem {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px rgba(14, 14, 14, 0.2);
    
    max-width: 100%;
    min-height: 100%;
    position: relative;
    width: 400px;
}
.moduletask .head {
    background: #fdf596;
    color: #6e671a;
    font-size: 18px;
    padding: 10px 20px;
	position:relative;
}
.moduletask .head span.h{
	 color:#e94537;
}
.moduletask .bullet {
    position: absolute;
    right: 0;
    background-color: transparent;
    top: 0;
    width:40px;
	height:45px;
	cursor:pointer;
}
.moduletask .bullet:hover {
    background:rgba(199, 189, 73, 0.74);
}
.moduletask .normal-col .bullet:hover {
    background:rgba(33, 104, 92, 0.65);
}
.moduletask .bullet span{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background: #afa63f;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 20px 15px;
}
.moduletask .bullet span:before, .moduletask .bullet span:after{
	position:absolute;
	content:'';
	top:0;
	left:0;
	background:#afa63f;
	width:6px;
	height:6px;	
	border-radius:50%;
}
.moduletask .bullet span:before{
	top: 10px;
}
.moduletask .bullet span:after{
	top: -10px;
}
.moduletask .mid-sec{
	background: -moz-linear-gradient(90deg, rgba(253,245,150,1) 0%, rgba(253,245,150,1) 54%, rgba(243,234,130,1) 89%, rgba(241,232,125,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241,232,125,1)), color-stop(11%, rgba(243,234,130,1)), color-stop(46%, rgba(253,245,150,1)), color-stop(100%, rgba(253,245,150,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(253,245,150,1) 0%, rgba(253,245,150,1) 54%, rgba(243,234,130,1) 89%, rgba(241,232,125,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(253,245,150,1) 0%, rgba(253,245,150,1) 54%, rgba(243,234,130,1) 89%, rgba(241,232,125,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(253,245,150,1) 0%, rgba(253,245,150,1) 54%, rgba(243,234,130,1) 89%, rgba(241,232,125,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(253,245,150,1) 0%, rgba(253,245,150,1) 54%, rgba(243,234,130,1) 89%, rgba(241,232,125,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e87d', endColorstr='#fdf596',GradientType=0 ); /* ie6-9 */
}
.moduletask-c {
    padding: 0 10px;
}
.moduletask .col-grd {
	font-size:16px;
	color:#000000;	
}
.moduletask .mid-sec .col-grd {
    padding: 12px 12px;
	border-bottom:solid 1px #c7bd49;
}
.moduletask .mid-sec .col-grd:last-child{
	border-bottom:none;
}
.moduletask .mid-sec label {
    font-family: 'ProximaNova-Semibold';
    margin: 0;
    padding: 0 0 0 10px;
    font-weight: normal;	
}
.moduletask .checkid label {
    padding: 0;
	width: 25px;
    height: 25px;
}
.moduletask .mid-sec a.image{
	width:40px;
	height:40px;
	overflow:hidden;
	border-radius:50%;
	position:relative;
	display: inline-block;
	background:#977a2a;	
	font-size:16px;	
}
.moduletask .mid-sec a.image img, .moduletask .mid-sec a.image span.n {  
    color: #f9ef7a;
}
.moduletask .mid-sec .col-grd span.left {
    float: left;
    padding: 10px 10px 0 0;
}
.moduletask .checkid label:before {
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 2px;
}
.moduletask .checkid span{
    font-family: 'sloppy_handregular' !important;
    margin: 0 0 0 35px;
    line-height: 1.2;
    font-size: 22px;
    color: #000;
    overflow: hidden;
    position: relative;
	cursor:pointer;
    display: block;
}
.line-through{
	text-decoration: line-through;
}
.checkbox-input.task:checked + .checkbox-label.task:before {
    background-color: #977a2a;
    background-position: 5px 6px;
    border-radius: 2px;
}
.checkbox-input.normal:checked + .checkbox-label.normal:before {
    background-color:#21685c;
	background-position: 5px 6px;
    border-radius: 2px;
}
.checkbox-input.task:checked + .checkbox-label.task span, .checkbox-input.normal:checked + .checkbox-label.normal span{
    text-decoration: line-through;
}
.moduletask .status {
    padding: 5px 30px 0 35px;
}
.moduletask .status p{
	padding: 5px 0 0 0;
    font-size: 18px;
    color: #977a2a; 
	margin: 0;	
}
.moduletask .status li:before{
	position: relative;
    content: '|';
    top: 0;
    left: 0;
    padding: 0 10px;
}
.moduletask .status li:first-child:before{
	display:none;
}
.moduletask .status label {
    padding: 0 0 0 10px;
    position: relative;
    top: -8px;
    color: #977a2a;
    font-size: 14px;
}
.moduletask .status a{
	color:#977a2a;
}
.moduletask .head::before {
    position: absolute;
    content: '';
    top: -15px;
    left: 48%;
    background: url(../images/boardPin.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 28px;
    background-position: top left;
    background-size: 20px;
}

.emailreminder-modal .header {
    position: relative;
    border-bottom: solid 1px #ddd;
	padding: 25px 20px;
}
.emailreminder-modal h2 {
    font-size: 22px;
    color: #000;
    position: relative; 
	padding: 0 0 0 45px;
    text-transform: uppercase;
    margin: 0;    
}
.emailreminder-modal .header img{
	position:absolute;
	top:0;
	left:0;	
}
.emailreminder-modal .content{	
	padding: 25px;
}
.emailreminder-modal .content .in{
	position:relative;
	padding: 0 0 0 155px;
}
.emailreminder-modal .content label {
    color: #8a8a8a;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: normal;
	font-family: 'ProximaNova-Semibold';
    width: 155px;
    overflow: hidden;
    padding: 8px 0;
    margin: 0;
    font-size: 18px;
}
.emailreminder-modal .content textarea {
    border: solid 2px #ddd;
    width: 100%;
    height: 140px;
    resize: none;
    border-radius: 4px;
	padding: 15px;
	font-size: 16px;
}

/*-----add new task-------------*/
.modal-newtaskedit{
	width: 800px;
	max-width: 100%;
}
.modal-newtaskedit .head{
    position: relative;
    border-bottom: solid 1px #ddd;
	padding: 25px 20px;
}
.modal-newtaskedit h2 {
    font-size: 22px;
    color: #000;
    position: relative; 
	padding: 0 0 0 45px;
    text-transform: uppercase;
    margin: 0;    
}
.modal-newtaskedit .head img{
	position:absolute;
	top:0;
	left:0;	    
}
.modal-newtaskedit .data {
    padding: 20px 25px;
}
.modal-newtaskedit .inner{
	position:relative;
	padding: 0 0 0 125px;
}
.modal-newtaskedit .inner p{
	color: #8a8a8a;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: normal;
	font-family: 'ProximaNova-Semibold';
    width: 125px;
    overflow: hidden;
    padding: 8px 0;
    margin: 0;
    font-size: 18px;
}
.modal-newtaskedit .inner p.pdl {
    padding-left: 10px;
}
.modal-newtaskedit label.checklabel{
    color: #8a8a8a;
    margin: 0;
    font-size: 18px;
	padding: 8px 0;
	font-weight: normal;
}
.modal-newtaskedit input.form-control, .modal-newtaskedit button.btn.dropdown-toggle.btn-default{
    font-size: 18px;
    color: #000000;
    padding: 8px;
}
.module-task-tabs .modal-openbtn{
	font-size:18px;
	background:#3192e9;
	color:#ffffff;
	float: right;
    padding: 8px 15px 8px 50px;
	position:relative;
	margin: 5px 0;
}
.module-task-tabs .modal-openbtn:hover{
	background:#0e599c;
}
.module-task-tabs .modal-openbtn img{
    width: 18px;
    position: absolute;
    top: 0;
    left: 15px;
    padding: 10px 0;
}
/*---------------- task data modal----------- */
.modal-taskdata {
    width: 1024px;
    max-width: 97%;
}
.modal-taskdata .header {
    border-bottom: dotted 2px #ddd;
    padding: 20px;
}
.modal-taskdata .header h2{
    margin:0;
	font-size:26px;
	color:#000000;
	font-family:'sloppy_handregular';
}
.modal-taskdata .footer {
    border-top: dotted 2px #ddd;
    padding: 20px;
}
.mid-fullheight{
	border-left: dotted 2px #ddd;
	border-right: dotted 2px #ddd;
    padding: 10px;
	position:relative;
}
.modal-taskdata .midsec{
    height: 100%;
	padding: 0 0 230px 0;
	position: relative;
}
.modal-taskdata .left{
	font-size:18px;
	color:#000000;
	padding: 20px;
}
.modal-taskdata .left p span{
	font-family:'ProximaNova-Semibold';
	text-decoration: underline;
}
.modal-taskdata .left ul{
	padding: 0 0 0 18px;
	font-family:'ProximaNova-Semibold';
}
.modal-taskdata .left ul li {
    list-style-type: disc;
    padding: 10px 0;
}
.modal-taskdata .right{
	font-size:18px;
	padding: 20px;
}
.modal-taskdata .right .pd {
    padding: 0 0 15px 0;
}
.modal-taskdata .right p{
	color:#323232;
	margin:0;	
}
.modal-taskdata .right label{
	color:#000000;
	font-weight:normal;
	margin:0;
	font-family:'ProximaNova-Semibold';
}
.modal-taskdata .right label a{
	color:#3192e9;
}
.modal-taskdata .progbar .progress {
    background: #dfdfdf;
	height: 7px;
}
.modal-taskdata .progbar label {
    position: relative;
    right: -5px;
    top: -8px;
}
.modal-taskdata figure{
	height:70px;
	width:70px;
	border-radius:50%;
	overflow:hidden;
	position:relative;
	float:left;
	margin-right: 20px;
}
.modal-taskdata .midsec .in {
    padding: 10px 20px;
}
.modal-taskdata .midsec .cont{
	position:relative;
	overflow: hidden;
}
.modal-taskdata .midsec h2{
	color:#000000;
	font-size:20px;
	margin: 0;
    font-family:'ProximaNova-Semibold';
	overflow: hidden;
    padding: 0 100px 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal-taskdata .midsec span.time{
	font-size:16px;
	color:#969696;
	position:absolute;
	top:0;
	right:0;
}
.modal-taskdata .midsec p{
	font-size:18px;
	color:#000000;
}
.modaltask-mCustom{
	position:relative;
	overflow:hidden;
	height: 230px;
}
.modal-taskdata .hiderdiv{
    position: absolute;
    width: 100%;
    bottom: 0;
	display: none;
    background: #fff;
    border: solid 2px #66afe9;
    border-radius: 4px;
    padding:0 15px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.modal-taskdata .hide-attatchbtn .drag-drop {
    border: dotted 1px #ddd;
    border-radius: 6px;
    padding: 8px;
    font-size: 15px;
    color: #000;
	position: relative;
	cursor:pointer;
}
.modal-taskdata .hide-attatchbtn .drag-drop img {
    float: left;
    padding: 0 10px 0 0;
}
.modal-taskdata .hide-attatchbtn p{
    padding: 5px 0 0 0;
    font-size: 16px;
	color:#000;
}
.modal-taskdata .hide-attatchbtn a{
    color:#3192e9;
	font-family: 'ProximaNova-Semibold';
}
.modal-taskdata .hide-attatchbtn a.cancle {
    position: absolute;
    background: #3192e9;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: block;
    right: 0;
}
.modal-taskdata .hide-attatchbtn a.cancle img {
    width: 12px;
}
.modal-taskdata .hide-attatchbtn .cke_bottom {
    padding: 6px 8px 2px;
    position: relative;
    border-top: 1px solid #d1d1d1;
    background: #f8f8f8;
    display: none;
}
.modal-taskdata .hide-attatchbtn a.cke_button{
    background: #e8e8e8;
    border-radius: 6px;
    color: #fff;
	margin: 0 2px;	
}
.modal-taskdata .hide-attatchbtn div#cke_2_contents {
    border-radius: 6px;
    border: solid 1px #ddd;
    margin: 0 0 5px 0;	
}
.modal-taskdata .hide-attatchbtn input#fileupload {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
	cursor: pointer;
}
.modal-taskdata .hide-attatchbtn div#cke_editor2 {
    border: none;
}
.modal-taskdata .hide-attatchbtn span#cke_2_top {
    background-color: transparent;
    border-bottom: transparent;
}
.modal-taskdata .addfile {
    font-size: 19px;
    color: #7e7e7e !important;
    background: #efefef;
    display: block;
    border-radius: 6px;
    padding: 17px 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    left: 0;	
}
.footer-figure figure {
    height: 50px;
    width: 50px;
}
.modal-taskdata .footer-figure h2 {
    margin: 0;
    font-size: 18px;
    color: #000;
    padding: 15px 0;
}
.modal-taskdata .footer-figure h2 span{
   font-family:'ProximaNova-Semibold';
}
.modal-taskdata .download-icon .circle {
    float: right;
    background: #3192e9;
    color: #fff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
	position:relative;
	font-size: 22px;
}

.modal-taskdata .download-file label, .modal-taskdata .show-pdf label {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding: 0 0 0 10px;
	font-family:'ProximaNova-Semibold';
}
.modal-taskdata .show-pdf label {
	color:#e2574c;	
}
.modal-taskdata .show-pdf .pdf {
    width: 30px;
    margin: 0 0 0 10px;
}
/*------------- project module discussion---------------*/
.project-discus{
	background: #ffffff;
    box-shadow: 0 0 8px 1px rgba(14, 14, 14, 0.11);
    margin: 30px;
    border-radius: 4px;
	position: relative;
    overflow: hidden;
}
.project-discus h1, .project-discus h2, .project-discus h3{
	font-size: 20px;
}
.project-discus .listing{
	background:#3192e9;
	height: 100%;
    padding: 60px 1px 15px 0;
    position: relative;
}
.project-discus .listing .head {
    padding: 20px;
    border-bottom: solid 1px #1c72bf;
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 60px;
}
.project-discus .listing h1 {
    margin: 0;    
    color: #ffffff;
	padding:0 30px 0 0;
	position:relative;
	text-transform:uppercase;
}
.project-discus .listing h1 img{
    position:absolute;
	top:0;
	right:0;
	width:18px;
}
.project-discus figure{
	height: 50px;   
    width: 50px;
}
.project-discus .listing .col {
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.project-discus .listing .col.active{
	background:#2f82cd;
}
.project-discus .listing .col:hover{
    background: #2f82cd;
}
.project-discus .listing .txt{
	overflow:hidden;
	padding: 0 0 0 10px;
}
.project-discus .listing h2{
	margin:0;
	color:#ffffff;
	font-family:'ProximaNova-Semibold';
}
.project-discus .listing p{
	font-size:18px;
	color:#a9d6ff;
	margin:0;
}

.project-discus .full-content-height {
    height: 400px;
}
.project-discus .sec-height{
	height:530px;
}
/*.project-discus .full-content h2{
	color: #000000;
    position: relative;
    font-family: 'ProximaNova-Semibold';
    padding: 20px;
    border-bottom: solid 1px #ddd;
    margin: 0 0 0 0;
}*/
.project-discus .fix-head .input-space {
    padding: 8px 45px 8px 5px;
    border-bottom: solid 1px #ddd;
	height: 60px;
	background: #fff;
}
.project-discus .fix-head input {
    position: relative;
    top: 0;
    left: 0;
	height: 42px;
    font-family: 'ProximaNova-Semibold';
    font-size: 20px;
    color: #000;
}
.project-discus .full-content .nav {
    width: 45px;
    height: 59px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
	transition: all ease-in .5s;
    -moz-transition: all ease-in .5s;
    -ms-transition: all ease-in .5s;
    -o-transition: all ease-in .5s;
    -webkit-transition: all ease-in .5s;
}
.project-discus .full-content .nav:hover {
    background: #3192e9;
	transition: all ease-in .5s;
    -moz-transition: all ease-in .5s;
    -ms-transition: all ease-in .5s;
    -o-transition: all ease-in .5s;
    -webkit-transition: all ease-in .5s;
}
.project-discus .full-content .nav span{
	position: absolute;
    top: 0;
    right: 0;
    background: #000000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 27px 20px;
}
.project-discus .full-content .nav span::before, .project-discus .full-content .nav span::after{
	position:absolute;
	content:'';
	top:0;
	right:0;
	background:#000000;
	width:5px;
	height:5px;
	border-radius:50%;
}
.project-discus .full-content .nav span::before{
	top:10px
}
.project-discus .full-content .nav span::after{
	top:-10px
}
.project-discus .full-content .navdropdown{
	background: #fff;
    z-index: 99;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px rgba(49, 49, 49, 0.37);
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
	display: none;
}
.project-discus .full-content .navdropdown:before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 12px;
    content: "";
    display: inline-block;
    height: 0;
    right: 12px;
    margin: 0 0 0 -15px;
    position: absolute;
    top: -11px;
}
.project-discus .full-content .navdropdown > li > a {
    color: #000;
    font-size: 16px;
    display: block;
    padding: 8px 20px;
    border-bottom: solid 1px #ddd;
}
.project-discus .full-content .navdropdown > li:first-child a:hover {
    border-radius: 4px 4px 0 0;
}
.project-discus .full-content .navdropdown > li:last-child a:hover {
    border-radius: 0 0 4px 4px;
}
.project-discus .full-content .navdropdown > li a:hover {
    background: #3192e9;
    color: #ffffff;
}
.project-discus .fig-sec {
    background: #c5e4ff;
    padding: 14px 20px;
    line-height: 0;
    max-width: 100%;
    height: 80px;
    display: block;
    position: relative;	
    /*white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;*/
}
.project-discus .fig-sec .cross {
    background: #ff3535;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    right: -2px;
    bottom: -8px;
	display: none;
}
.project-discus .fig-sec .cross img {
    width: 10px;
}
.project-discus .fig-sec a {
    display: inline-block;
	position: relative;
	margin: 0 2px;
}
.project-discus .form-control[readonly]{
	background-color:transparent;
	border-color:transparent;
}
.project-discus .form-control[readonly]:focus{
	background-color:transparent;
	border-color:transparent !important;
}
.project-discus .showon-edit {
    background: #fff;
    z-index: 99;
    position: absolute;
    right: 0;
    width: 100%;
	padding:20px;
	display: none;
}
.project-discus .fig-sec .add{
	background: #2f82cd;
	    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}
.project-discus .fig-sec .add:hover{
    background: #1b5c96;
	    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}
.project-discus .fig-sec .add img{
	width:20px;
}
.project-discus .detail-msg {
    padding: 20px 10px;
    border-bottom: solid 1px #ddd;
    margin: 0 10px 0 0;
}
.project-discus .reply-user{
	margin-left: 50px;
}
.project-discus .detail-msg .sec{
	 position:relative;
	 overflow:hidden;
	 padding:0 0 0 15px;
}
.project-discus .detail-msg h3{
	margin:0;
	color:#000000;
	padding: 0 0 10px 0;
	font-family: 'ProximaNova-Semibold';
}
.project-discus .detail-msg span{
	position:absolute;
	top:0;
	right:0;
	color:#979797;
}
.project-discus .detail-msg{
	font-size: 16px;
    color: #000;
}
.project-discus .detail-msg ul {
    padding: 0 0 10px 30px;
}
.project-discus .detail-msg li {
    padding: 5px 0;
    list-style-type: disc;    
}
.project-discus .detail-msg a {
    color: #3192e9;
    background: #fff;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 4px;
}
.project-discus .detail-msg a:hover{
    color: #fff;
    background: #3192e9;   
}
.project-discus .detail-msg a i.fa{
	padding:0 10px 0 0;
}
.project-discus .detail-msg .file .circle {
    float: right;
    background: #3192e9;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    font-size: 20px;
}
.project-discus .detail-msg .file img {
    width: auto;
    padding: 0 10px 0 0;
}
.project-discus .full-content .inner {
    position: relative;
    margin: 0 10px 10px;
    min-height: 100%;
}
.project-discus .addfile {
    font-size: 16px;
    color: #7e7e7e;
    background: #efefef;
    display: block;
    padding: 18px 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.project-discus .full-content .inner{
    padding: 138px 0 57px 0;
    height: 100%;
    position: relative;
}
.project-discus .fix-head{
    position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 99;
}
.create-discussion .content{
	padding:20px 0;
}
.create-discussion input[type="text"], .create-discussion button.btn.dropdown-toggle.btn-default{
    color: #979797;
    font-style: italic;
}
.search-discussion input[type="search"] {
    background: #f1f1f1;
    font-size: 16px;
    color: #979797;
    padding: 12px 20px;
    border-radius: 35px;
    width: 100%;
}
.search-discussion figure {
    width: 45px;
    height: 45px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    top: -11px;
    left: 30px;
}
.search-discussion .check {
    padding: 20px 20px 20px;
    margin: 10px 20px 10px 0;   
}
.search-discussion .list {
    padding: 20px 20px;
}
.search-discussion .list .height{
    height: 300px;
    overflow: hidden;
}
.search-discussion .check span {
    padding: 0 0 0 90px;
    font-size: 18px;
    color: #979797;
    font-weight: normal;
    overflow: hidden;
    display: block;
}

li.select-result-modal {
    background: #62727f;
    border-radius: 20px;
    color: #fff;
    padding: 4px 30px 4px 15px;
    font-size: 15px;
    margin: 10px 2px 0;
    float: left;
    position: relative;
}
#discusion-append {
    max-height: 200px;
    width: 100%;
    overflow-x: hidden;
}
.select-result-modal > a {
    color: #fff;
    padding: 0 10px;
    position: absolute;
    right: 0;
    overflow: hidden;
}
.search-discussion .check.active{   
    background: #e3f2ff;
}
.modal-disc-check.checkbox-input + .modal-disc-check.checkbox-label:before {
    border-color: #ddd;
}
.modal-disc-check.checkbox-input:checked + .modal-disc-check.checkbox-label:before {  
    background-color: #3192e9;   
}
.show-editwraper {
    background: rgba(0, 0, 0, 0.69);
    bottom: 0;
    z-index: 99;
}
