<div class="leading-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 in">              
                <h1>Manage Construction Project Information & Processes With Clear Drive.</h1>
                <p (click)="login()">Clear Drive brings newfound efficiency to construction project management, giving you faster results, successful team work and efficient communication.</p>
            </div>
        </div>
    </div>
</div>
<div class="wraper-inner leading-wrapper">   
    <div class="leading-wrap1">
        <div class="container">
          <h2 class="head">Clear Drive Takes Project Management to The Next  Level</h2>
          <p class="para">More than $238B in construction projects delivered using Clear Drive. Clear Drive provides unlimited collabration & lets you easily create tasks and RFIs for common tasks and industry processes. Thats why we are #1 cloud platform for some of the largest construction and engineering projects!</p>
          <ul>
              <li>
                  <a href="javascript:void(0);">
                      <img src="../../assets/images/leading-pic1.png" alt="" />
                      <div>Store and share unlimited files on our cloud server.</div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <img src="../../assets/images/leading-pic2.png" alt="" />
                      <div>Collabrate with your team using chat and discussion boards</div>
                  </a>
              </li>
              <li>
                  <a href="javascript:void(0);">
                      <img src="../../assets/images/leading-pic3.png" alt="" />
                      <div>Easily assign and create tasks and RFIs for your team.</div>
                  </a>
              </li>
          </ul>
        </div>
    </div>
    <div class="leading-wrap2">
        <div class="container">
            <h2 class="text-center head">Do More With Our Flexible Pricing Plans </h2>
            <div class="text-center p-tb-s">
              <div class="radio-check">                             
                <input id="check1" class="" type="radio" name="radiocheck" checked="" />
                <label for="check1" class=""><span></span> Individual </label>            
              </div>
              <div class="radio-check">                             
                <input id="check2" class="" type="radio" name="radiocheck" >
                <label for="check2" class=""><span></span> Enterprise </label>            
              </div>
          </div>
          <div class="clear"></div>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="item">
                    <div class="plan-column">
                        <h2>Plan- PTR </h2>
                          <div class="in">
                            <h3>$800</h3>
                            <ul>
                                <li>user</li>
                                <li>month</li>
                            </ul>
                            <p>Upto 5 projects, 10 Tasks & 10 RFIs along with customisable solutions.</p>
                            <a href="javascript:void(0);" class="btn">Try free for 10 Days </a>
                            <p class="text-center">or <a href="javascript:void(0);">purchase now</a></p>
                          </div>
                       </div>
                </div>
            </ng-template>   
            <ng-template carouselSlide>
                <div class="item">
                    <div class="plan-column">
                        <h2>plan- TR</h2>
                          <div class="in">
                            <h3>$650</h3>
                            <ul>
                                <li>user</li>
                                <li>month</li>
                            </ul>
                            <p>Upto 5 tasks and 10 RFIs along with customisable solutions</p>
                            <a href="javascript:void(0);" class="btn">Try free for 10 Days </a>
                            <p class="text-center">or <a href="javascript:void(0);">purchase now</a></p>
                          </div>
                       </div>
                </div>    
            </ng-template>  
            <ng-template carouselSlide>
                <div class="item">
                    <div class="plan-column">
                        <h2>All INCLUSIVE DEAL</h2>
                          <div class="in">
                            <h3>$1000</h3>
                            <ul>
                                <li>user</li>
                                <li>month, starting at 10 users</li>
                            </ul>
                            <p>Grab this exciting offer!.</p>
                            <a href="javascript:void(0);" class="btn">Try free for 10 Days </a>
                            <p class="text-center">or <a href="javascript:void(0);">purchase now</a></p>
                          </div>
                       </div>
                </div>        
            </ng-template> 
            <ng-template carouselSlide>
                <div class="item">
                    <div class="plan-column">
                        <h2>Plan- PTR </h2>
                          <div class="in">
                            <h3>$800</h3>
                            <ul>
                                <li>user</li>
                                <li>month</li>
                            </ul>
                            <p>Upto 5 projects, 10 Tasks & 10 RFIs along with customisable solutions.</p>
                            <a href="javascript:void(0);" class="btn">Try free for 10 Days </a>
                            <p class="text-center">or <a href="javascript:void(0);">purchase now</a></p>
                          </div>
                       </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="item">
                    <div class="plan-column">
                        <h2>Plan- PTR </h2>
                          <div class="in">
                            <h3>$800</h3>
                            <ul>
                                <li>user</li>
                                <li>month</li>
                            </ul>
                            <p>Upto 5 projects, 10 Tasks & 10 RFIs along with customisable solutions.</p>
                            <a href="javascript:void(0);" class="btn">Try free for 10 Days </a>
                            <p class="text-center">or <a href="javascript:void(0);">purchase now</a></p>
                          </div>
                       </div>
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="item">
                    <div class="plan-column">
                        <h2>Plan- PTR </h2>
                          <div class="in">
                            <h3>$800</h3>
                            <ul>
                                <li>user</li>
                                <li>month</li>
                            </ul>
                            <p>Upto 5 projects, 10 Tasks & 10 RFIs along with customisable solutions.</p>
                            <a href="javascript:void(0);" class="btn">Try free for 10 Days </a>
                            <p class="text-center">or <a href="javascript:void(0);">purchase now</a></p>
                          </div>
                       </div>
                </div>
            </ng-template>  
        
        </owl-carousel-o>
         
        </div>
    </div>
    <div class="leading-wrap3 signup-accordian">
        <div class="container">
            <h2 class="head">Still Have Questions? Ask Us About It.</h2>
            <p class="para">Feel free to ask us anything. We are ready to help. For your convinence, here is a list of queries. If you seek more information, drop us an email to support@cleardrive.com</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less glyphicon glyphicon-remove"></i>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>

    <div class="leading-wrap4">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <div class="in">
                      <h2 class="head">Join Clear Drive Today.</h2>
                      <p class="para">Trusted by over 4,000+ subscribers across 14 countries.</p>  
                    </div>                    
                </div>
                <div class="col-xs-4 col-sm-4 text-right"><button type="button" class="btn-cld">Get Started</button></div>
            </div>
        </div>
    </div>

  <div class="Clear"></div>
  
</div>