.swagger-section #header {
    background-color: #37ABF2;
    padding: 21px 14px 19px 14px;
    height: 23px;
    min-width: 775px;
}
input#input_baseUrl {
    border: none;
    /*border-radius: 10px;*/
    padding: 8px !important;
}

.swagger-section #api_selector input {
    font-size: 0.9em;
    padding: 8px;
    /* margin: 0; */
    border: 1px solid #37abf2;
}

div#swagger-ui-container {
    box-shadow: 1px 3px 10px 3px #d8ebf7;
    padding: 10px;
}
* {
    font-family: monospace !important;
}

input.submit {
    background-color: #37ABF2;
    color: #fff;
    border: none;
    border-radius: 20px;
   
}