<div class="bargain-div">
<div class="row">
    <div class="col-sm-12">
        <div class="summary">
            <h2 style="font-size: 23px;">Quote your rate</h2>
            <hr>
            <form>
                <div class="row">
                    <div class="col-sm-4">
                       <p> Course Rate :  </p>
                    </div>
                        <div class="col-sm-8"> 
                            <i class="fa fa-inr"></i>  <b> 500 INR /-</b>
                             </div>
                   
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <p>  Your Rate : </p> 
                    </div>
                        <div class="col-sm-8"> 
                            <input type="text" class="form-control bargain-text" placeholder="0.00">
                            <span class="input-icon"><i class="fa fa-inr"></i></span>
                             </div>
                   
                </div>
              
                <hr>
                <p>Your Quote rate is : <i class="fa fa-inr"></i><b> 370 INR /-</b></p>
                <div class="row">
                   
                        <div class="col-sm-4"> 
                            <input type="button" (click)="bargainDone();" value="Send your quote" class="mc-btn btn-style-1">
                         </div>
                   
                </div>
            </form>
        </div>
    </div>

    
</div>
</div>