.bargain-div{
    padding: 15px;
}

span.input-icon {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    height: 100%;
    padding-left: 10px;
    color: #666;
    padding-right: 13px;
}
.bargain-text{
    padding-left: 20px;
}