<section class="center-section">
    <nav class="dash-header">
      <div class="Dash-txt"><span class="phead-name"><span class="heading-icons"><img src="../../../assets/images/Dashboard_9.png" alt="" /></span> Dashboard</span></div>
    </nav>
    <div class="dash-grid-wrap">
      <div class="column-grid">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> <a href="javascript:void(0);" class="column">
            <figure> <img src="../../../assets/images/image.png" alt="" /> </figure>
            <div class="content">
              <div class="icon blue"><img src="../../../assets/images/Dashboard_2.png" alt="" /></div>
              <p>Projects <span>(23)</span></p>
            </div>
            </a> </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> <a href="javascript:void(0);" class="column">
            <figure> <img src="../../../assets/images/image.png" alt="" /> </figure>
            <div class="content">
              <div class="icon yellow"><img src="../../../assets/images/Dashboard_3.png" alt="" /></div>
              <p>Tasks <span>(120)</span></p>
            </div>
            </a> </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> <a href="javascript:void(0);" class="column">
            <figure> <img src="../../../assets/images/image.png" alt="" /> </figure>
            <div class="content">
              <div class="icon green"><img src="../../../assets/images/Dashboard_4.png" alt="" /></div>
              <p>Company Files <span>(3,163)</span></p>
            </div>
            </a> </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100">
            <div class="column">
              <figure> <img src="../../../assets/images/image.png" alt="" /> </figure>
              <div class="content">
                <div class="icon red"><img src="../../../assets/images/Dashboard_5.png" alt="" /></div>
                <p>RFIs <span>(05)</span></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> <a href="javascript:void(0);" class="column">
            <figure> <img src="../../../assets/images/image.png" alt="" /> </figure>
            <div class="content">
              <div class="icon violet"><img src="../../../assets/images/Dashboard_6.png" alt="" /></div>
              <p>MEMBERS <span>(256)</span></p>
            </div>
            </a> </div>
          <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4  p-x-s column100"> <a href="javascript:void(0);" class="column">
            <figure> <img src="../../../assets/images/image.png" alt="" /> </figure>
            <div class="content">
              <div class="icon pink"><img src="../../../assets/images/Dashboard_7.png" alt="" /></div>
              <p>SCHEDULE <span>(09)</span></p>
            </div>
            </a> </div>
        </div>
      </div>
    </div>
  </section>