<section class="center-section row">  
    <nav class="module-header">
      	<div class="inner">      	
      		<div class="head"><span class="icon"><img src="../../../../assets/images/back-arrow.png" alt="" /></span> 
            	<h1>1058 Beer creek parkway </h1>
            	<p class="ref-no">Ref No: Orion000036</p>
            </div>        	
        	<div class="row">      
        		<div class="col-xs-4 col-sm-8 col-md-8 col-lg-9 p-xxxs">
            	<ul class="navmenu pull-left">
                	<li><a href="javascript:void(0);">details</a></li>
                    <li><a href="javascript:void(0);">Files</a></li>
                    <li class="active"><a href="javascript:void(0);">Tasks</a></li>
                    <li><a href="javascript:void(0);">RFI’s</a></li>
                    <li><a href="javascript:void(0);">Discussions</a></li>
                    <li><a href="javascript:void(0);">Members</a></li>
                </ul>
           		</div>
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-3">
                    <div class="filter">
                        <a href="javascript:void(0);" class="catg">View</a>
                        <select class="selectpicker">
                            <option>All Projects</option>
                            <option>All Projects</option>
                            <option>All Projects</option>
                            <option>All Projects</option>
                            <option>All Projects</option>
                        </select>	
                    </div>
            	</div>
		   </div>
      </div>         
    </nav>
    <div class="clear"></div>
    
    <div class="module moduleTask">
     <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xxxs">
        	<div class="module-task-tabs">
            	<button type="button" data-toggle="modal" data-target="#modal-newtask" class="btn modal-openbtn"><img src="../../../../assets/images/white-add.png" alt="">Add New Task</button>
        		<ul>
                	<li class="active"><a href="javascript:void(0);">All Tasks</a></li>
                    <li><a href="javascript:void(0);">Active Tasks</a></li>
                    <li><a href="javascript:void(0);">Completed</a></li>
                </ul>
        	</div>
        </div>
    	<!------ section----->
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-sm m-b-s">
            <div class="moduletask pd">   
               
                <div class="row">  
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 moduletask-c">
                        <div class="colitem">
                        	<div class="head" id="dropdown-open">Priority: <span class="h">High</span>
                                <a href="javascript:void(0);" class="bullet"><span></span></a>
                                <ul class="dropdwn-task">     
                                    <li><a href="javascript:void(0);">Attach Files</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                                    <li><a href="javascript:void(0);">Send to Email</a></li>
                                    <li><a href="javascript:void(0);">Print PDF</a></li>
                                    <li><a href="javascript:void(0);">Share Task</a></li>
                                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ul>
                            </div>
                            <div class="mid-sec">                            	
							   <div class="checkid col-grd">                            	
									<input id="checkbox-2" class="checkbox-input task" type="checkbox" value="" checked/>
									<label for="checkbox-2" class="checkbox-label task pull-left"></label>
                                    <a href="javascript:void(0);"><span data-toggle="modal" data-target="#modal-task-lg">Build a 3D model of the hall &  design hall interior.</span></a>	
									<div class="status">
										<label class="pull-right">50%</label>
										<div class="progress active m-xxxs">
											<div class="bar" style="width: 50%;"></div>                                                   
										</div> 
										<p>Status : Active</p>
									</div>
								</div>
								<div class="col-grd">Plan Date:<label> 2 Jan, 2017 - 12 Jan, 2017 </label></div>
								<div class="col-grd">Created By:<label> Martha Stuart </label></div>                                    
								<div class="col-grd"> <span class="left">Assigned To: </span>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
								</div>
								<div class="col-grd">Watching Members: 
									<div class="p-t-xs">
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><span class="n centered">+02</span></a>
									</div>
							   </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 moduletask-c">
                        <div class="colitem">
                        	<div class="head" id="dropdown-open">Priority: Low
                                <a href="javascript:void(0);" class="bullet"><span></span></a>
                                <ul class="dropdwn-task">     
                                    <li><a href="javascript:void(0);">Attach Files</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                                    <li><a href="javascript:void(0);">Send to Email</a></li>
                                    <li><a href="javascript:void(0);">Print PDF</a></li>
                                    <li><a href="javascript:void(0);">Share Task</a></li>
                                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ul>
                            </div>
                            <div class="mid-sec">                            	
							   <div class="checkid col-grd">                            	
									<input id="checkbox-3" class="checkbox-input task" type="checkbox" value="" />
									<label for="checkbox-3" class="checkbox-label task pull-left"></label>
                                    <a href="javascript:void(0);"><span data-toggle="modal" data-target="#modal-task-lg">Build a 3D model of the hall &  design hall interior.</span></a>	
									<div class="status">
										<label class="pull-right">50%</label>
										<div class="progress active m-xxxs">
											<div class="bar" style="width: 50%;"></div>                                                   
										</div> 
										<p>Status : Active</p>
									</div>
								</div>
								<div class="col-grd">Plan Date:<label> 2 Jan, 2017 - 12 Jan, 2017 </label></div>
								<div class="col-grd">Created By:<label> Martha Stuart </label></div>                                    
								<div class="col-grd"> <span class="left">Assigned To: </span>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
								</div>
								<div class="col-grd">Watching Members: 
									<div class="p-t-xs">
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><span class="n centered">+02</span></a>
									</div>
							   </div>                                
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4 moduletask-c">
                        <div class="colitem normal-col">
                        	<div class="head" id="dropdown-open">Priority: Normal
                                <a href="javascript:void(0);" class="bullet"><span></span></a>
                                <ul class="dropdwn-task">     
                                    <li><a href="javascript:void(0);">Attach Files</a></li>
                                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#email-reminder">Add Reminder</a></li>
                                    <li><a href="javascript:void(0);">Send to Email</a></li>
                                    <li><a href="javascript:void(0);">Print PDF</a></li>
                                    <li><a href="javascript:void(0);">Share Task</a></li>
                                    <li><a href="javascript:void(0);">View / Edit Details</a></li>
                                    <li><a href="javascript:void(0);">Delete</a></li>
                                </ul>
                            </div>
                            <div class="mid-sec">                            	
							   <div class="checkid col-grd">                            	
									<input id="checkbox" class="checkbox-input normal" type="checkbox" value="" />
									<label for="checkbox" class="checkbox-label normal pull-left"></label>
                                    <a href="javascript:void(0);"><span data-toggle="modal" data-target="#modal-task-lg">Build a 3D model of the hall &  design hall interior.</span></a>
									<div class="status">
										<label class="pull-right">100%</label>
										<div class="progress active m-xxxs">
											<div class="bar" style="width: 100%;"></div>                                                   
										</div> 
										<p>Status : Complete</p>
									</div>
								</div>
								<div class="col-grd">Plan Date:<label> 2 Jan, 2017 - 12 Jan, 2017 </label></div>
								<div class="col-grd">Created By:<label> Martha Stuart </label></div>                                    
								<div class="col-grd"> <span class="left">Assigned To: </span>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
								</div>
								<div class="col-grd">Watching Members: 
									<div class="p-t-xs">
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></a>
									<a href="javascript:void(0);" class="image"><span class="n centered">+02</span></a>
									</div>
							   </div>                                
                            </div>
                        </div>
                    </div>    
                    
                   
                  
                    
                </div>
                <!---row---->                
            </div>            
        </div>
        <!------ section----->
        </div>           
    </div>   
  </section>