<section class="center-section row">  
    <nav class="module-header">
      	<div class="inner">      	
      		<div class="head"><span class="icon"><img src="../../../../assets/images/back-arrow.png" alt="" /></span> 
            	<h1>1058 Beer creek parkway </h1>
            	<p class="ref-no">Ref No: Orion000036</p>
            </div>        	
        	<div class="row">      
        		<div class="col-xs-6 col-sm-8 col-md-8 col-lg-9 p-xxxs">
            	<ul class="navmenu pull-left">
                	<li><a href="javascript:void(0);">details</a></li>
                    <li><a href="javascript:void(0);">Files</a></li>
                    <li><a href="javascript:void(0);">Tasks</a></li>
                    <li><a href="javascript:void(0);">RFI’s</a></li>
                    <li><a href="javascript:void(0);">Discussions</a></li>
                    <li class="active"><a href="javascript:void(0);">Members</a></li>
                </ul>
           		</div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <div class="filter">
                        <a href="javascript:void(0);" class="catg">View</a>
                        <select class="selectpicker">
                            <option>All Projects</option>
                            <option>All Projects</option>
                            <option>All Projects</option>
                            <option>All Projects</option>
                            <option>All Projects</option>
                        </select>	
                    </div>
            	</div>
		   </div>
      </div>         
    </nav>
    <div class="clear"></div>
    <div class="module moduleMember">
    	<div class="moduleMember-inner">
             <div class="member-check">
             	<div class="head">
                	<h2 class="pdl">Members (15)</h2>
                	<select class="selectpicker">
                    	<option value="0">Select Role</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                    </select>
                    <div class="add-new-member check-wrp" data-toggle="modal" data-target="#member-reminder">+ Add New Member</div>
                 </div>                
                <div class="mfull-height">
                	<div class="mfull-pd" id="sortable">
                        <div class="check">                            	
                          <input id="checkbox1-1" class="checkbox-input" type="checkbox" value="" checked />
                          <label for="checkbox1-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox2-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox2-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox3-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox3-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox4-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox4-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox5-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox5-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox6-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox6-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox7-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox7-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                        <div class="check">                            	
                          <input id="checkbox8-1" class="checkbox-input" type="checkbox" value="" />
                          <label for="checkbox8-1" class="checkbox-label"><figure><img src="../../../../assets/images/user-img.png" alt="" class="centered-image"></figure><div class="txt">Robert Daniels  <p>Construction Manager </p></div></label>						
                        </div>
                    </div>
                 </div>
             </div>
             <div class="moduleMember-detail">
             	<div class="head">
                	<h2>Teams (04)</h2>                	
                    <div class="add-new-member check-wrp" data-toggle="modal" data-target="#email-reminder">+ Create New Team</div>
                </div>
                <div class="mfull-height-Md">
                    <ul class="list">	
                        <li class="dropdown">
                            <div class="taggle"><span></span><span></span><span></span></div> 
                            <ul class="module-file-dropdown member_ul">
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#interior-team">View Details </a></li>
                                <li><a href="javascript:void(0);">Edit Details</a></li>
                                <li><a href="javascript:void(0);">Delete</a></li>
                            </ul>                    	
                            <h3 data-toggle="modal" data-target="#individual-person">Beer Creek Interior Design Teams</h3>
                            <p>12 Members</p>
                            <div class="image">
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><span class="centered">+5</span></figure>                                
                            </div>         
                        </li>
                        <li class="dropdown">
                            <div class="taggle"><span></span><span></span><span></span></div>  
                            <ul class="module-file-dropdown member_ul">
                                <li><a href="javascript:void(0);">View Details </a></li>
                                <li><a href="javascript:void(0);">Edit Details</a></li>
                                <li><a href="javascript:void(0);">Delete</a></li>
                            </ul>                   	
                            <h3>Beer Creek Interior Design Teams</h3>
                            <p>12 Members</p>
                            <div class="image">
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><span class="centered">+5</span></figure>                                
                            </div>         
                        </li>
                        <li class="dropdown">
                            <div class="taggle"><span></span><span></span><span></span></div> 
                            <ul class="module-file-dropdown member_ul">
                                <li><a href="javascript:void(0);">View Details </a></li>
                                <li><a href="javascript:void(0);">Edit Details</a></li>
                                <li><a href="javascript:void(0);">Delete</a></li>
                            </ul>
                            <ul class="module-file-dropdown member_ul">
                                <li><a href="javascript:void(0);">View Details </a></li>
                                <li><a href="javascript:void(0);">Edit Details</a></li>
                                <li><a href="javascript:void(0);">Delete</a></li>
                            </ul>                    	
                            <h3>Beer Creek Interior Design Teams</h3>
                            <p>12 Members</p>
                            <div class="image">
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><span class="centered">+5</span></figure>                                
                            </div>         
                        </li>
                        <li class="dropdown">
                            <div class="taggle"><span></span><span></span><span></span></div> 
                            <ul class="module-file-dropdown member_ul">
                                <li><a href="javascript:void(0);">View Details </a></li>
                                <li><a href="javascript:void(0);">Edit Details</a></li>
                                <li><a href="javascript:void(0);">Delete</a></li>
                            </ul>                    	
                            <h3>Beer Creek Interior Design Teams</h3>
                            <p>12 Members</p>
                            <div class="image">
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><img src="../../../../assets/images/user-img.png" class="centered-image" alt="" /></figure>
                                <figure><span class="centered">+5</span></figure>                                
                            </div>         
                        </li>                
                    </ul>
                </div>
             </div>
        </div>
    </div>   
  </section>